Repository sip-protocol/sip-protocol: changes, and which Codecov flags are due for each by the changed paths.
All: sdk, react, cli, api

feat(sdk): add circuit breaker and health tracking for privacy backends
  packages/sdk/src/privacy-backends/health.ts
  packages/sdk/src/privacy-backends/index.ts
  packages/sdk/src/privacy-backends/interface.ts
  packages/sdk/src/privacy-backends/registry.ts
  packages/sdk/src/privacy-backends/router.ts
  packages/sdk/tests/privacy-backends/health.test.ts
  packages/sdk/tests/privacy-backends/router.test.ts
Due: sdk

refactor(solana): production hardening from stashed improvements
  packages/sdk/src/chains/solana/constants.ts
  packages/sdk/src/chains/solana/providers/generic.ts
  packages/sdk/src/chains/solana/providers/helius.ts
  packages/sdk/src/chains/solana/providers/interface.ts
  packages/sdk/src/chains/solana/providers/webhook.ts
  packages/sdk/src/chains/solana/scan.ts
  packages/sdk/tests/chains/solana/providers.test.ts
Due: sdk

fix(sdk): normalize trailing slash in Triton endpoint URL
  packages/sdk/src/chains/solana/providers/triton.ts
Due: sdk

feat(sdk): add QuickNode and Triton RPC provider adapters
  packages/sdk/package.json
  packages/sdk/src/chains/solana/providers/index.ts
  packages/sdk/src/chains/solana/providers/interface.ts
  packages/sdk/src/chains/solana/providers/quicknode.ts
  packages/sdk/src/chains/solana/providers/triton.ts
  packages/sdk/tests/chains/solana/providers.test.ts
  pnpm-lock.yaml
Due: sdk

docs: add OpenRouter mental model to strategic direction
  CLAUDE.md
Due: none

docs(roadmap): update hackathon strategy with new bounties
  ROADMAP.md
Due: none

fix(security): prevent API key leaks in error messages
  packages/sdk/src/chains/solana/constants.ts
  packages/sdk/src/chains/solana/providers/generic.ts
  packages/sdk/src/chains/solana/providers/helius.ts
  packages/sdk/src/chains/solana/providers/quicknode.ts
  packages/sdk/src/chains/solana/providers/triton.ts
  packages/sdk/tests/chains/solana/providers.test.ts
Due: sdk

test(solana): add edge case coverage for providers and webhook handlers
  packages/sdk/tests/chains/solana/providers.test.ts
  packages/sdk/tests/chains/solana/webhook.test.ts
Due: none

refactor(solana): extract shared utilities from scan.ts and webhook.ts
  packages/sdk/src/chains/solana/providers/webhook.ts
  packages/sdk/src/chains/solana/scan.ts
  packages/sdk/src/chains/solana/utils.ts
  packages/sdk/tests/chains/solana/utils.test.ts
Due: sdk

refactor(solana): standardize error message formatting across providers
  packages/sdk/src/chains/solana/providers/generic.ts
  packages/sdk/src/chains/solana/providers/interface.ts
  packages/sdk/src/chains/solana/providers/quicknode.ts
  packages/sdk/src/chains/solana/providers/triton.ts
  packages/sdk/tests/chains/solana/providers.test.ts
Due: sdk

docs: add comprehensive RPC provider documentation
  README.md
  packages/sdk/README.md
Due: none

docs(security): add comprehensive audit preparation for Hacken bounty
  docs/security/ARCHITECTURE.md
  docs/security/DEPENDENCY-AUDIT.md
  docs/security/HACKEN-PREP.md
Due: none

docs(bounties): add Light Protocol Open Track submission materials
  docs/bounties/light-protocol-open-track.md
  docs/bounties/submission-checklist.md
Due: none

feat(privacy-backends): add MockBackend for testing
  packages/sdk/src/privacy-backends/index.ts
  packages/sdk/src/privacy-backends/mock.ts
  packages/sdk/tests/privacy-backends/mock.test.ts
Due: sdk

feat(sdk): add ShadowWire privacy backend adapter
  packages/sdk/package.json
  packages/sdk/src/privacy-backends/index.ts
  packages/sdk/src/privacy-backends/shadowwire.ts
  packages/sdk/tests/privacy-backends/shadowwire.test.ts
  pnpm-lock.yaml
Due: sdk

feat(sdk): add MagicBlock TEE privacy backend
  packages/sdk/package.json
  packages/sdk/src/privacy-backends/index.ts
  packages/sdk/src/privacy-backends/magicblock.ts
  packages/sdk/tests/privacy-backends/magicblock.test.ts
  pnpm-lock.yaml
Due: sdk

feat(sdk): add Jupiter DEX adapter for private Solana swaps
  packages/sdk/package.json
  packages/sdk/src/adapters/index.ts
  packages/sdk/src/adapters/jupiter.ts
  packages/sdk/tests/adapters/jupiter.test.ts
  packages/sdk/tests/e2e/performance-metrics.test.ts
  pnpm-lock.yaml
Due: sdk

feat(sdk): integrate Sunspot verifier for on-chain Noir proof verification
  packages/sdk/src/solana/index.ts
  packages/sdk/src/solana/noir-verifier-types.ts
  packages/sdk/src/solana/noir-verifier.ts
  packages/sdk/tests/solana/noir-verifier.test.ts
Due: sdk

feat(sdk): add Privacy Advisor Agent with LangChain integration
  packages/react/src/hooks/index.ts
  packages/react/src/hooks/use-privacy-advisor.ts
  packages/sdk/package.json
  packages/sdk/src/advisor/advisor.ts
  packages/sdk/src/advisor/index.ts
  packages/sdk/src/advisor/types.ts
  packages/sdk/src/index.ts
  packages/sdk/tests/advisor/advisor.test.ts
  pnpm-lock.yaml
Due: sdk, react

feat(sdk): add LangChain tools for Privacy Advisor Agent (#490)
  packages/sdk/package.json
  packages/sdk/src/advisor/index.ts
  packages/sdk/src/advisor/tools.ts
  packages/sdk/src/index.ts
  packages/sdk/tests/advisor-tools.test.ts
  pnpm-lock.yaml
Due: sdk

fix(sdk): replace weak RNG with cryptographic primitives (#521, #520)
  packages/sdk/src/privacy-backends/cspl.ts
  packages/sdk/src/privacy-backends/privacycash.ts
  packages/sdk/src/privacy-backends/private-swap.ts
Due: sdk

fix(arcium): implement CombinedPrivacyService with proper wrapResult.success checks (#527)
  packages/sdk/examples/arcium-privacy-demo.ts
  packages/sdk/src/privacy-backends/combined-privacy.ts
  packages/sdk/src/privacy-backends/cspl-token.ts
  packages/sdk/src/privacy-backends/index.ts
  packages/sdk/tests/privacy-backends/combined-privacy.test.ts
Due: sdk

fix(arcium): add promise-based mutex for initialization race condition (#526)
  packages/sdk/src/privacy-backends/combined-privacy.ts
  packages/sdk/src/privacy-backends/cspl-token.ts
  packages/sdk/tests/privacy-backends/combined-privacy.test.ts
Due: sdk

fix(sdk): add missing validateSolanaAddress function in cspl.ts
  packages/sdk/src/privacy-backends/cspl.ts
Due: sdk

fix(cspl): add Solana base58 address validation (#517)
  packages/sdk/src/privacy-backends/cspl.ts
  packages/sdk/tests/cspl-validation.test.ts
  packages/sdk/tests/privacy-backends/cspl.test.ts
Due: sdk

feat(sdk): integrate privacy-aware logging in backends
  packages/sdk/src/index.ts
  packages/sdk/src/privacy-backends/magicblock.ts
  packages/sdk/src/privacy-backends/privacycash.ts
Due: sdk

test: update tests with valid Solana base58 addresses
  packages/sdk/tests/privacy-backends/cspl.test.ts
  packages/sdk/tests/privacy-backends/private-swap.test.ts
Due: none

feat(sdk): add privacy-aware logging utilities
  packages/sdk/src/privacy-logger.ts
  packages/sdk/tests/privacy-logger.test.ts
Due: sdk

fix(sdk): replace placeholder program IDs with clear markers (#528)
  packages/sdk/src/privacy-backends/arcium-types.ts
  packages/sdk/src/privacy-backends/cspl-types.ts
Due: sdk

feat(sdk): integrate privacy-aware logging in backends
  packages/sdk/tests/privacy-logger.test.ts
Due: none

fix(sdk): add memo field length validation for C-SPL transfers (#532)
  packages/sdk/src/privacy-backends/cspl-types.ts
  packages/sdk/src/privacy-backends/cspl.ts
  packages/sdk/tests/privacy-backends/cspl.test.ts
Due: sdk

refactor(arcium): extract magic numbers to named constants (#535)
  packages/sdk/src/privacy-backends/arcium-types.ts
  packages/sdk/src/privacy-backends/arcium.ts
  packages/sdk/src/privacy-backends/index.ts
Due: sdk

docs(arcium): add TODO comments for unused parameters (#536)
  packages/sdk/src/privacy-backends/cspl-token.ts
  packages/sdk/src/privacy-backends/magicblock.ts
Due: sdk

feat(sdk): add upper bound validation for Arcium amounts
  packages/sdk/src/privacy-backends/arcium-types.ts
  packages/sdk/src/privacy-backends/arcium.ts
  packages/sdk/src/privacy-backends/index.ts
  packages/sdk/tests/privacy-backends/arcium.test.ts
Due: sdk

fix(sdk): add auditor key format validation (#524)
  packages/sdk/src/privacy-backends/cspl.ts
  packages/sdk/tests/privacy-backends/cspl.test.ts
Due: sdk

fix(sdk): add network validation in factory functions
  packages/sdk/src/privacy-backends/arcium.ts
  packages/sdk/src/privacy-backends/inco.ts
  packages/sdk/src/privacy-backends/magicblock.ts
Due: sdk

test(sdk): add network validation tests for backends
  packages/sdk/tests/privacy-backends/arcium.test.ts
  packages/sdk/tests/privacy-backends/inco.test.ts
  packages/sdk/tests/privacy-backends/magicblock.test.ts
Due: none

feat(sdk): implement timeout handling for computations
  packages/sdk/src/privacy-backends/arcium.ts
  packages/sdk/src/privacy-backends/inco.ts
  packages/sdk/src/privacy-backends/index.ts
  packages/sdk/src/privacy-backends/interface.ts
  packages/sdk/tests/privacy-backends/arcium.test.ts
  packages/sdk/tests/privacy-backends/inco.test.ts
  packages/sdk/tests/privacy-backends/interface.test.ts
Due: sdk

fix(sdk): improve error propagation with stack traces (#529)
  packages/sdk/src/privacy-backends/arcium.ts
  packages/sdk/tests/privacy-backends/arcium.test.ts
Due: sdk

Path conditions:
  sdk: any of: packages/sdk/src/, but not: **/*.test.ts, **/*.bench.ts, **/tests/**, **/node_modules/**, **/dist/**, **/*.d.ts, **/coverage/**
  react: any of: packages/react/src/, but not: **/*.test.ts, **/*.bench.ts, **/tests/**, **/node_modules/**, **/dist/**, **/*.d.ts, **/coverage/**
  cli: any of: packages/cli/src/, but not: **/*.test.ts, **/*.bench.ts, **/tests/**, **/node_modules/**, **/dist/**, **/*.d.ts, **/coverage/**
  api: any of: packages/api/src/, but not: **/*.test.ts, **/*.bench.ts, **/tests/**, **/node_modules/**, **/dist/**, **/*.d.ts, **/coverage/**
