Repository sip-protocol/sip-protocol: changes, and which Codecov flags are due for each by the changed paths.
All: sdk, react, cli, api

codecov.yml:

# Codecov Configuration
# https://docs.codecov.com/docs/codecovyml-reference

coverage:
  status:
    project:
      default:
        target: 70%
        threshold: 5%
        informational: true  # Don't fail PRs initially
    patch:
      default:
        target: 80%
        informational: true  # Don't fail PRs initially

comment:
  layout: "reach,diff,flags,files"
  behavior: default
  require_changes: true

ignore:
  - "**/*.test.ts"
  - "**/*.bench.ts"
  - "**/tests/**"
  - "**/node_modules/**"
  - "**/dist/**"
  - "**/*.d.ts"
  - "**/coverage/**"

flags:
  sdk:
    paths:
      - packages/sdk/src/
    carryforward: true
  react:
    paths:
      - packages/react/src/
    carryforward: true
  cli:
    paths:
      - packages/cli/src/
    carryforward: true
  api:
    paths:
      - packages/api/src/
    carryforward: true

test(sdk): add Ethereum privacy E2E tests (M18-ETH-12)
  packages/sdk/tests/e2e/ethereum/ethereum-privacy.e2e.test.ts
Due: none

test(sdk): add Ethereum gas benchmarks for privacy ops (M18-ETH-25)
  packages/sdk/tests/benchmarks/ethereum/gas-benchmarks.test.ts
Due: none

fix(react): export all Ethereum components from main index (M18)
  packages/react/src/components/index.ts
  packages/react/src/index.ts
Due: react

test: relax EIP-5564 perf threshold for CI variance (500ms → 1000ms)
  examples/ethereum/oneinch-private-swap/README.md
  examples/ethereum/oneinch-private-swap/private-swap.ts
  examples/ethereum/uniswap-private-swap/README.md
  examples/ethereum/uniswap-private-swap/private-swap.ts
  packages/sdk/tests/chains/ethereum/eip5564.test.ts
Due: none

test: relax EIP-5564 ownership check threshold for CI (500ms → 1000ms)
  packages/sdk/tests/chains/ethereum/eip5564.test.ts
Due: none

feat(contracts): add L2 Tier 1 deployment configuration (M18-36)
  contracts/sip-ethereum/DEPLOYMENT.md
  contracts/sip-ethereum/foundry.toml
  contracts/sip-ethereum/script/Deploy.s.sol
Due: none

research(m19): complete proof composition research
  research/m19-proof-composition/BENCHMARK-REPORT.md
  research/m19-proof-composition/COMPOSITION-ANALYSIS.md
  research/m19-proof-composition/HALO2-KIMCHI-COMPATIBILITY.md
  research/m19-proof-composition/RECOMMENDED-ARCHITECTURE.md
  research/m19-proof-composition/ZCASH-CROSSCHAIN-ROUTE.md
  research/m19-proof-composition/halo2-poc/Cargo.toml
  research/m19-proof-composition/halo2-poc/README.md
  research/m19-proof-composition/halo2-poc/src/circuit.rs
  research/m19-proof-composition/halo2-poc/src/commitment.rs
  research/m19-proof-composition/halo2-poc/src/main.rs
  research/m19-proof-composition/halo2-poc/src/recursion.rs
  research/m19-proof-composition/halo2/ARCHITECTURE.md
  research/m19-proof-composition/halo2/BENCHMARKS.md
  research/m19-proof-composition/halo2/COMPATIBILITY.md
  research/m19-proof-composition/halo2/RECURSION.md
  research/m19-proof-composition/halo2/diagram-architecture.md
  research/m19-proof-composition/kimchi-poc/README.md
  research/m19-proof-composition/kimchi-poc/package.json
  research/m19-proof-composition/kimchi-poc/src/commitment.ts
  research/m19-proof-composition/kimchi-poc/src/main.ts
  research/m19-proof-composition/kimchi-poc/src/recursion.ts
  research/m19-proof-composition/kimchi-poc/src/simple.ts
  research/m19-proof-composition/kimchi-poc/tsconfig.json
  research/m19-proof-composition/kimchi/ARCHITECTURE.md
  research/m19-proof-composition/kimchi/BENCHMARKS.md
  research/m19-proof-composition/kimchi/INTEGRATION.md
  research/m19-proof-composition/kimchi/MINA-INTEGRATION.md
  research/m19-proof-composition/kimchi/ZKAPP-EXPLORATION.md
  research/m19-proof-composition/tachyon/HALO2-IPA-VERIFIER-SPIKE.md
  research/m19-proof-composition/tachyon/PCD-WALLET-ARCHITECTURE.md
Due: none

fix(contracts): resolve Solidity compilation errors for M18
  .gitignore
  contracts/sip-ethereum/.env.example
  contracts/sip-ethereum/.gitignore
  contracts/sip-ethereum/foundry.toml
  contracts/sip-ethereum/script/Deploy.s.sol
  contracts/sip-ethereum/src/PedersenVerifier.sol
  contracts/sip-ethereum/src/StealthAddressRegistry.sol
  contracts/sip-ethereum/src/ZKVerifier.sol
  contracts/sip-ethereum/src/interfaces/IZKVerifier.sol
Due: none

docs(roadmap): add M18 L2 prioritization strategy with Base-first approach
  ROADMAP.md
Due: none

feat(near): add privacy transaction history view (M17-NEAR-20)
  packages/react/src/components/index.ts
  packages/react/src/components/transaction-history.tsx
  packages/react/src/hooks/index.ts
  packages/react/src/hooks/use-transaction-history.ts
  packages/react/src/index.ts
  packages/react/tests/components/transaction-history.test.tsx
  packages/sdk/src/chains/near/history.ts
  packages/sdk/src/chains/near/index.ts
  packages/sdk/src/index.ts
  packages/sdk/tests/chains/near/history.test.ts
Due: sdk, react

fix(react): remove undefined eslint rule reference
  packages/react/src/hooks/use-transaction-history.ts
Due: react

feat(proofs): design ProofComposer interface and types (M20-01)
  docs/plans/M20-EXECUTION-PLAN.md
  packages/sdk/src/proofs/composer/index.ts
  packages/sdk/src/proofs/composer/interface.ts
  packages/sdk/src/proofs/composer/types.ts
  packages/sdk/src/proofs/index.ts
  packages/sdk/tests/proofs/composer/types.test.ts
  packages/types/src/index.ts
  packages/types/src/proof-composition.ts
Due: sdk

feat(sdk): implement BaseProofComposer class (#352)
  packages/sdk/src/proofs/composer/base.ts
  packages/sdk/src/proofs/composer/index.ts
  packages/sdk/tests/proofs/composer/base.test.ts
Due: sdk

fix(sdk): fix lint error in BaseProofComposer switch case
  packages/sdk/src/proofs/composer/base.ts
Due: sdk

feat(sdk): add Halo2 proof provider integration (#250)
  packages/sdk/src/proofs/index.ts
  packages/sdk/src/proofs/providers/halo2.ts
  packages/sdk/src/proofs/providers/index.ts
  packages/sdk/tests/proofs/providers/halo2.test.ts
Due: sdk

feat(sdk): add Kimchi proof provider for Mina Protocol (#256)
  packages/sdk/src/proofs/index.ts
  packages/sdk/src/proofs/providers/index.ts
  packages/sdk/src/proofs/providers/kimchi.ts
  packages/sdk/tests/proofs/providers/kimchi.test.ts
Due: sdk

feat(sdk): implement proof aggregation logic (#263)
  packages/sdk/src/proofs/aggregator.ts
  packages/sdk/src/proofs/index.ts
  packages/sdk/tests/proofs/aggregator.test.ts
Due: sdk

fix(sdk): use const for retryStats to satisfy prefer-const lint rule
  packages/sdk/src/proofs/aggregator.ts
Due: sdk

feat(sdk): add proof verification pipeline (#268)
  packages/sdk/src/proofs/index.ts
  packages/sdk/src/proofs/verifier.ts
  packages/sdk/tests/proofs/verifier.test.ts
Due: sdk

feat(sdk): add cross-system proof validation (#291)
  packages/sdk/src/proofs/index.ts
  packages/sdk/src/proofs/validator.ts
  packages/sdk/tests/proofs/validator.test.ts
Due: sdk

feat(sdk): add ProofOrchestrator for proof composition workflows
  packages/sdk/src/proofs/index.ts
  packages/sdk/src/proofs/orchestrator.ts
  packages/sdk/tests/proofs/orchestrator.test.ts
Due: sdk

fix(sdk): use const for proofRequests in orchestrator plan()
  packages/sdk/src/proofs/orchestrator.ts
Due: sdk

test(sdk): add comprehensive unit tests for BaseProofComposer
  packages/sdk/tests/proofs/composer.test.ts
Due: none

feat(sdk): implement fallback proof strategies for M20-11
  packages/sdk/src/proofs/fallback.ts
  packages/sdk/src/proofs/index.ts
  packages/sdk/tests/proofs/fallback.test.ts
Due: sdk

feat(sdk): implement proof format converters for M20-08
  packages/sdk/src/proofs/converters/halo2.ts
  packages/sdk/src/proofs/converters/index.ts
  packages/sdk/src/proofs/converters/interface.ts
  packages/sdk/src/proofs/converters/kimchi.ts
  packages/sdk/src/proofs/converters/noir.ts
  packages/sdk/src/proofs/index.ts
  packages/sdk/tests/proofs/converters.test.ts
Due: sdk

feat(sdk): implement proof caching layer (M20-13)
  packages/sdk/src/proofs/cache/index.ts
  packages/sdk/src/proofs/cache/interface.ts
  packages/sdk/src/proofs/cache/key-generator.ts
  packages/sdk/src/proofs/cache/lru-cache.ts
  packages/sdk/src/proofs/cache/multi-tier-cache.ts
  packages/sdk/src/proofs/cache/persistent-cache.ts
  packages/sdk/src/proofs/index.ts
  packages/sdk/tests/proofs/cache.test.ts
Due: sdk

feat(sdk): add ProofComposer to SDK exports (M20-16)
  packages/sdk/package.json
  packages/sdk/src/index.ts
  packages/sdk/src/proofs/halo2.ts
  packages/sdk/src/proofs/kimchi.ts
Due: sdk

feat(sdk): add lazy proof generation support (#319)
  packages/sdk/src/proofs/index.ts
  packages/sdk/src/proofs/lazy.ts
  packages/sdk/tests/proofs/lazy.test.ts
Due: sdk

feat(react): add proof composition React hooks (M20-17)
  packages/react/src/hooks/index.ts
  packages/react/src/hooks/use-proof-composition.ts
  packages/react/tests/hooks/use-proof-composition.test.tsx
  packages/sdk/src/index.ts
Due: sdk, react

fix(sdk): remove unnecessary semicolons in worker-pool
  packages/sdk/src/proofs/parallel/worker-pool.ts
Due: sdk

fix(sdk): correct eslint-disable rule name for require statements
  packages/sdk/src/proofs/parallel/concurrency.ts
Due: sdk

feat(sdk): implement parallel proof generation optimization (#307)
  packages/sdk/src/proofs/index.ts
  packages/sdk/src/proofs/parallel/concurrency.ts
  packages/sdk/src/proofs/parallel/dependency-graph.ts
  packages/sdk/src/proofs/parallel/executor.ts
  packages/sdk/src/proofs/parallel/index.ts
  packages/sdk/src/proofs/parallel/interface.ts
  packages/sdk/src/proofs/parallel/worker-pool.ts
  packages/sdk/tests/proofs/parallel.test.ts
Due: sdk

fix: remove duplicate proof composition exports from SDK index
  packages/sdk/src/index.ts
Due: sdk

feat(cli): add CLI commands for proof operations (#340)
  packages/cli/src/commands/index.ts
  packages/cli/src/commands/proof.ts
  packages/cli/src/index.ts
  packages/cli/tests/commands.test.ts
  packages/sdk/src/index.ts
Due: sdk, cli

test(sdk): add integration tests for multi-system proof composition (#360)
  packages/sdk/tests/integration/proof-composition.test.ts
Due: none

test(sdk): add E2E tests for composed proof verification (#363)
  packages/sdk/tests/e2e/proof-composition.test.ts
Due: none

spec(m20): add unified proof format specification
  docs/specs/PROOF-FORMAT.md
Due: none

bench(m20): add proof composition benchmarks
  packages/sdk/benchmarks/PERFORMANCE.md
  packages/sdk/benchmarks/proof-composition.bench.ts
Due: none

docs(m20): add proof composition developer guide
  docs/guides/PROOF-COMPOSITION.md
Due: none

feat(sdk): add browser-compatible proof composition (M20-19)
  packages/sdk/src/proofs/browser-composer.ts
  packages/sdk/src/proofs/index.ts
  packages/sdk/tests/proofs/browser-composer.test.ts
Due: sdk
