Repository sip-protocol/sip-protocol: changes, and which Codecov flags are due for each by the changed paths.
All: sdk, react, cli, api

chore(deps): upgrade zod to v4
  package.json
  packages/sdk/package.json
  pnpm-lock.yaml
Due: none

feat(sdk): add NEAR stealth address resolver (M17-NEAR-05)
  packages/sdk/src/chains/near/index.ts
  packages/sdk/src/chains/near/resolver.ts
  packages/sdk/tests/chains/near/resolver.test.ts
Due: sdk

feat(sdk): add NEAR native transfer with stealth addresses (M17-NEAR-10)
  packages/sdk/src/chains/near/index.ts
  packages/sdk/src/chains/near/native-transfer.ts
  packages/sdk/tests/chains/near/native-transfer.test.ts
Due: sdk

feat(sdk): add NEAR RPC client for privacy transactions (M17-NEAR-08)
  packages/sdk/src/chains/near/index.ts
  packages/sdk/src/chains/near/rpc.ts
  packages/sdk/tests/chains/near/rpc.test.ts
Due: sdk

feat(react): add ViewingKeyManager component for NEAR viewing keys (M17-NEAR-19)
  packages/react/src/components/index.ts
  packages/react/src/components/viewing-key-manager.tsx
  packages/react/src/index.ts
  packages/react/tests/components/viewing-key-manager.test.tsx
Due: react

feat(sdk): add NEAR viewing key generation and management (M17-NEAR-04)
  packages/sdk/src/chains/near/index.ts
  packages/sdk/src/chains/near/viewing-key.ts
  packages/sdk/src/index.ts
  packages/sdk/tests/chains/near/viewing-key.test.ts
Due: sdk

feat(react): add StealthAddressDisplay component for NEAR stealth addresses (M17-NEAR-17)
  packages/react/src/components/index.ts
  packages/react/src/components/stealth-address-display.tsx
  packages/react/src/index.ts
  packages/react/tests/components/stealth-address-display.test.tsx
Due: react

feat(sdk): add MyNearWallet privacy integration (M17-NEAR-14)
  packages/sdk/src/wallet/index.ts
  packages/sdk/src/wallet/near/index.ts
  packages/sdk/src/wallet/near/my-near-wallet.ts
  packages/sdk/tests/wallet/near-my-near-wallet.test.ts
Due: sdk

feat(sdk): add NEARWalletAdapter with privacy support (M17-NEAR-12)
  packages/sdk/src/wallet/index.ts
  packages/sdk/src/wallet/near/adapter.ts
  packages/sdk/src/wallet/near/index.ts
  packages/sdk/tests/wallet/near-adapter.test.ts
Due: sdk

feat(react): add PrivacyToggle component with three-state privacy selection (M17-NEAR-16)
  packages/react/package.json
  packages/react/src/components/index.ts
  packages/react/src/components/privacy-toggle.tsx
  packages/react/src/index.ts
  packages/react/tests/components/privacy-toggle.test.tsx
  packages/react/tests/setup.ts
  pnpm-lock.yaml
Due: react

feat(sdk): add NEAR same-chain privacy module (M17-NEAR-01, M17-NEAR-02)
  packages/sdk/src/chains/near/constants.ts
  packages/sdk/src/chains/near/index.ts
  packages/sdk/src/chains/near/stealth.ts
  packages/sdk/src/chains/near/types.ts
  packages/sdk/src/index.ts
  packages/sdk/tests/chains/near/constants.test.ts
  packages/sdk/tests/chains/near/stealth.test.ts
Due: sdk

feat(sdk): add NEAR Pedersen commitment scheme (M17-NEAR-03)
  packages/sdk/src/chains/near/commitment.ts
  packages/sdk/src/chains/near/index.ts
  packages/sdk/tests/chains/near/commitment.test.ts
Due: sdk

feat(react): add TransactionTracker component for NEAR privacy transactions (M17-NEAR-18)
  packages/react/src/components/index.ts
  packages/react/src/components/transaction-tracker.tsx
  packages/react/src/index.ts
  packages/react/tests/components/transaction-tracker.test.tsx
Due: react

feat(sdk): add NEAR Wallet Selector privacy integration (M17-NEAR-13)
  packages/sdk/src/wallet/index.ts
  packages/sdk/src/wallet/near/index.ts
  packages/sdk/src/wallet/near/wallet-selector.ts
  packages/sdk/tests/wallet/near-wallet-selector.test.ts
Due: sdk

feat(sdk): add NEARPrivacyAdapter for unified privacy operations (M17-NEAR-07)
  packages/sdk/src/chains/near/index.ts
  packages/sdk/src/chains/near/privacy-adapter.ts
  packages/sdk/tests/chains/near/privacy-adapter.test.ts
Due: sdk

feat(sdk): add Meteor wallet privacy integration (M17-NEAR-15)
  packages/sdk/src/wallet/index.ts
  packages/sdk/src/wallet/near/index.ts
  packages/sdk/src/wallet/near/meteor-wallet.ts
  packages/sdk/tests/wallet/near-meteor-wallet.test.ts
Due: sdk

feat(sdk): add NEAR function call privacy wrapper (M17-NEAR-11)
  packages/sdk/src/chains/near/function-call.ts
  packages/sdk/src/chains/near/index.ts
  packages/sdk/tests/chains/near/function-call.test.ts
Due: sdk

feat(sdk): add NEAR implicit account privacy support (M17-NEAR-06)
  packages/sdk/src/chains/near/implicit-account.ts
  packages/sdk/src/chains/near/index.ts
  packages/sdk/tests/chains/near/implicit-account.test.ts
Due: sdk

feat(sdk): add NEP-141 token privacy wrapping (M17-NEAR-09)
  packages/sdk/src/chains/near/index.ts
  packages/sdk/src/chains/near/nep141.ts
  packages/sdk/tests/chains/near/nep141.test.ts
Due: sdk

docs: update test counts after M17 NEAR privacy merge
  CLAUDE.md
Due: none

feat(sdk): add Ethereum same-chain privacy module (M18 Layer 1)
  packages/sdk/src/chains/ethereum/announcement.ts
  packages/sdk/src/chains/ethereum/commitment.ts
  packages/sdk/src/chains/ethereum/constants.ts
  packages/sdk/src/chains/ethereum/index.ts
  packages/sdk/src/chains/ethereum/stealth.ts
  packages/sdk/src/chains/ethereum/types.ts
  packages/sdk/src/chains/ethereum/viewing-key.ts
  packages/sdk/tests/chains/ethereum/commitment.test.ts
  packages/sdk/tests/chains/ethereum/stealth.test.ts
Due: sdk

feat(sdk): add EthereumPrivacyAdapter for same-chain privacy (M18-ETH-03)
  packages/sdk/src/chains/ethereum/index.ts
  packages/sdk/src/chains/ethereum/privacy-adapter.ts
  packages/sdk/tests/chains/ethereum/privacy-adapter.test.ts
Due: sdk

feat(sdk): add EIP-1559 gas estimation for Ethereum privacy txs (M18-ETH-11)
  packages/sdk/src/chains/ethereum/constants.ts
  packages/sdk/src/chains/ethereum/gas-estimation.ts
  packages/sdk/src/chains/ethereum/index.ts
  packages/sdk/tests/chains/ethereum/gas-estimation.test.ts
Due: sdk

feat(sdk): add ERC-6538 stealth meta-address registry client (M18-ETH-02)
  packages/sdk/src/chains/ethereum/index.ts
  packages/sdk/src/chains/ethereum/registry.ts
  packages/sdk/tests/chains/ethereum/registry.test.ts
Due: sdk

feat(sdk): add Ethereum RPC client for privacy transactions (M18-ETH-08)
  packages/sdk/src/chains/ethereum/index.ts
  packages/sdk/src/chains/ethereum/rpc.ts
  packages/sdk/tests/chains/ethereum/rpc.test.ts
Due: sdk

feat(sdk): add Ethereum stealth transfer builder (M18-ETH-06, M18-ETH-10)
  packages/sdk/src/chains/ethereum/index.ts
  packages/sdk/src/chains/ethereum/transfer.ts
  packages/sdk/tests/chains/ethereum/transfer.test.ts
Due: sdk

feat(sdk): add ERC-20 token helper for privacy transfers (#294)
  packages/sdk/src/chains/ethereum/index.ts
  packages/sdk/src/chains/ethereum/token.ts
  packages/sdk/tests/chains/ethereum/token.test.ts
Due: sdk

feat(sdk): add privacy-enabled Ethereum wallet adapter (#316)
  packages/sdk/src/wallet/ethereum/index.ts
  packages/sdk/src/wallet/ethereum/privacy-adapter.ts
  packages/sdk/tests/wallet/ethereum/privacy-adapter.test.ts
Due: sdk

feat(sdk): add MetaMask privacy signing utilities (#322)
  packages/sdk/src/wallet/ethereum/index.ts
  packages/sdk/src/wallet/ethereum/metamask-privacy.ts
  packages/sdk/tests/wallet/ethereum/metamask-privacy.test.ts
Due: sdk

feat(wallet): add WalletConnect v2 privacy adapter (M18-ETH-9)
  packages/sdk/src/wallet/ethereum/index.ts
  packages/sdk/src/wallet/ethereum/walletconnect-adapter.ts
  packages/sdk/tests/wallet/ethereum/walletconnect-adapter.test.ts
Due: sdk

feat(wallet): add Ledger privacy adapter for Ethereum (M18-ETH-12)
  packages/sdk/src/wallet/ethereum/privacy-adapter.ts
  packages/sdk/src/wallet/ethereum/walletconnect-adapter.ts
  packages/sdk/src/wallet/hardware/index.ts
  packages/sdk/src/wallet/hardware/ledger-privacy.ts
  packages/sdk/tests/wallet/hardware/ledger-privacy.test.ts
Due: sdk

feat(react): add Ethereum privacy UI components (M18-18,19,20)
  packages/react/src/components/ethereum/index.ts
  packages/react/src/components/ethereum/transaction-history.tsx
  packages/react/src/components/ethereum/transaction-tracker.tsx
  packages/react/src/components/ethereum/viewing-key-manager.tsx
  packages/react/src/components/index.ts
  packages/react/tests/components/ethereum/transaction-history.test.tsx
  packages/react/tests/components/ethereum/transaction-tracker.test.tsx
  packages/react/tests/components/ethereum/viewing-key-manager.test.tsx
Due: react

feat(sdk): add L2 deployment utilities for Base, Arbitrum, Optimism (M18-36)
  packages/sdk/src/chains/ethereum/deployment.ts
  packages/sdk/src/chains/ethereum/index.ts
Due: sdk

feat(examples): add Uniswap V3 and 1inch private swap examples (M18-37)
  examples/1inch-private-swap/README.md
  examples/1inch-private-swap/index.ts
  examples/1inch-private-swap/package.json
  examples/uniswap-private-swap/README.md
  examples/uniswap-private-swap/index.ts
  examples/uniswap-private-swap/package.json
Due: none

feat(ethereum): add multi-wallet privacy adapter for Rabby/Rainbow support (M18-ETH-9)
  packages/sdk/src/wallet/ethereum/index.ts
  packages/sdk/src/wallet/ethereum/multi-wallet.ts
  packages/sdk/tests/wallet/multi-wallet.test.ts
Due: sdk

feat(react): add EthereumPrivacyToggle component for EIP-5564 privacy (M18-ETH-10)
  packages/react/src/components/ethereum/index.ts
  packages/react/src/components/ethereum/privacy-toggle.tsx
  packages/react/tests/components/ethereum/privacy-toggle.test.tsx
Due: react

feat(react): add EthereumStealthAddressDisplay for EIP-5564 stealth addresses (M18-ETH-11)
  packages/react/src/components/ethereum/index.ts
  packages/react/src/components/ethereum/stealth-address-display.tsx
  packages/react/tests/components/ethereum/stealth-address-display.test.tsx
Due: react

test(sdk): add comprehensive EIP-5564 stealth address unit tests (M18-ETH-12)
  packages/sdk/tests/chains/ethereum/eip5564.test.ts
Due: none

test(fixtures): add Ethereum test fixtures for accounts, contracts, network (M18-ETH-6)
  packages/sdk/tests/fixtures/ethereum/accounts.ts
  packages/sdk/tests/fixtures/ethereum/contracts.ts
  packages/sdk/tests/fixtures/ethereum/fixtures.test.ts
  packages/sdk/tests/fixtures/ethereum/index.ts
  packages/sdk/tests/fixtures/ethereum/network.ts
Due: none

test(integration): add EthereumPrivacyAdapter integration tests (M18-ETH-7)
  packages/sdk/tests/integration/ethereum-privacy.test.ts
Due: none

Path conditions:
  sdk: any of: packages/sdk/src/, but not: **/*.test.ts, **/*.bench.ts, **/tests/**, **/node_modules/**, **/dist/**, **/*.d.ts, **/coverage/**
  react: any of: packages/react/src/, but not: **/*.test.ts, **/*.bench.ts, **/tests/**, **/node_modules/**, **/dist/**, **/*.d.ts, **/coverage/**
  cli: any of: packages/cli/src/, but not: **/*.test.ts, **/*.bench.ts, **/tests/**, **/node_modules/**, **/dist/**, **/*.d.ts, **/coverage/**
  api: any of: packages/api/src/, but not: **/*.test.ts, **/*.bench.ts, **/tests/**, **/node_modules/**, **/dist/**, **/*.d.ts, **/coverage/**
