Repository sip-protocol/sip-protocol: changes, and which Codecov flags are due for each by the changed paths.
All: sdk, react, cli, api

codecov.yml:

# Codecov Configuration
# https://docs.codecov.com/docs/codecovyml-reference

coverage:
  status:
    project:
      default:
        target: 70%
        threshold: 5%
        informational: true  # Don't fail PRs initially
    patch:
      default:
        target: 80%
        informational: true  # Don't fail PRs initially

comment:
  layout: "reach,diff,flags,files"
  behavior: default
  require_changes: true

ignore:
  - "**/*.test.ts"
  - "**/*.bench.ts"
  - "**/tests/**"
  - "**/node_modules/**"
  - "**/dist/**"
  - "**/*.d.ts"
  - "**/coverage/**"

flags:
  sdk:
    paths:
      - packages/sdk/src/
    carryforward: true
  react:
    paths:
      - packages/react/src/
    carryforward: true
  cli:
    paths:
      - packages/cli/src/
    carryforward: true
  api:
    paths:
      - packages/api/src/
    carryforward: true

feat(proofs): support high-precision values with Field types in Noir circuits
  packages/circuits/funding_proof/src/main.nr
  packages/sdk/package.json
  packages/sdk/src/adapters/near-intents.ts
  packages/sdk/src/adapters/oneclick-client.ts
  packages/sdk/src/intent.ts
  packages/sdk/src/proofs/browser.ts
  packages/sdk/src/proofs/circuits/funding_proof.json
  packages/sdk/src/proofs/mock.ts
  packages/sdk/src/proofs/noir.ts
  packages/sdk/src/proofs/worker.ts
  packages/sdk/src/sip.ts
  packages/sdk/src/wallet/solana/adapter.ts
  packages/types/package.json
  packages/types/src/index.ts
  packages/types/src/near-intents.ts
  pnpm-lock.yaml
Due: sdk

fix(tests): use EVM recipient for Ethereum output chain in transparent mode test
  packages/sdk/tests/adapters/near-intents.test.ts
Due: none

fix(tests): update benchmark and production tests for ed25519 validation
  packages/sdk/tests/benchmarks/noir-benchmarks.test.ts
  packages/sdk/tests/benchmarks/performance.test.ts
  packages/sdk/tests/sip-production.test.ts
Due: none

address PR #228 review feedback: semver, production hardening, ed25519 dispatch
  packages/circuits/funding_proof/src/main.nr
  packages/sdk/package.json
  packages/sdk/src/intent.ts
  packages/sdk/src/stealth.ts
Due: sdk

fix(ci): run build before typecheck to resolve module resolution
  .github/workflows/ci.yml
Due: none

fix(deps): use workspace protocol for internal dependencies
  packages/api/package.json
  packages/cli/package.json
  packages/react/package.json
  packages/sdk/package.json
  pnpm-lock.yaml
Due: none

docs: add Zypherpunk Hackathon NEAR Track winner achievement
  CLAUDE.md
  README.md
Due: none

docs: update CLAUDE.md and ROADMAP.md with Phase 4-5 strategy
  CLAUDE.md
  ROADMAP.md
Due: none

docs(roadmap): align M16 with updated grant strategy
  ROADMAP.md
Due: none

feat(sdk): add Solana same-chain privacy transfers
  packages/sdk/package.json
  packages/sdk/src/chains/solana/constants.ts
  packages/sdk/src/chains/solana/index.ts
  packages/sdk/src/chains/solana/scan.ts
  packages/sdk/src/chains/solana/transfer.ts
  packages/sdk/src/chains/solana/types.ts
  packages/sdk/src/executors/index.ts
  packages/sdk/src/executors/same-chain.ts
  packages/sdk/src/index.ts
  packages/sdk/src/sip.ts
  pnpm-lock.yaml
Due: sdk

fix(deps): sync lockfile with package.json specifiers
  pnpm-lock.yaml
Due: none

docs(roadmap): add privacy architecture clarifications and M17-M19 details
  ROADMAP.md
Due: none

docs(roadmap): strategic revisions - Mina, relayers, L2s, M22 institutional
  ROADMAP.md
Due: none

docs(roadmap): add Tachyon-informed M19/M20 items
  ROADMAP.md
Due: none

docs: update strategy path to ~/.claude/sip-protocol/
  CLAUDE.md
Due: none

docs(roadmap): add a16z Big Ideas 2026 validation and agent custody
  ROADMAP.md
Due: none

docs(roadmap): expand a16z Big Ideas 2026 validation section
  ROADMAP.md
Due: none

docs: add blog-sip repo and quantum-resistant storage spec
  CLAUDE.md
  docs/specs/QUANTUM-RESISTANT-STORAGE.md
Due: none

feat(cli): v2 with interactive setup wizard and new commands
  packages/cli/package.json
  packages/cli/src/commands/index.ts
  packages/cli/src/commands/setup.ts
  packages/cli/src/commands/stealth.ts
  packages/cli/src/commands/viewing-key.ts
  packages/cli/src/index.ts
  packages/cli/src/utils/config.ts
  packages/cli/src/utils/output.ts
  pnpm-lock.yaml
Due: cli

docs(roadmap): update community platform to Discourse forum
  ROADMAP.md
Due: none

chore: begin Solana Privacy Hack development
  .solana-privacy-hack
Due: none

docs(roadmap): add Solana Privacy Hack sprint and M17 updates
  CLAUDE.md
  ROADMAP.md
Due: none

fix(sdk,cli): address PR #442 review feedback
  packages/cli/src/commands/setup.ts
  packages/cli/src/commands/stealth.ts
  packages/sdk/src/chains/solana/scan.ts
  packages/sdk/tests/chains/solana/scan.test.ts
  packages/sdk/tests/chains/solana/transfer.test.ts
  packages/sdk/tests/executors/same-chain.test.ts
Due: sdk, cli

docs(roadmap): add realistic hackathon assessment and issue links
  ROADMAP.md
Due: none

fix(ci): fix benchmark build order and TypeScript error
  .github/workflows/ci.yml
  packages/sdk/src/proofs/noir.ts
Due: sdk

docs(m17): add privacy backend aggregation strategy
  CLAUDE.md
  ROADMAP.md
Due: none

docs(roadmap): expand Solana Privacy Hack coverage to 14 issues and $88K+ potential
  ROADMAP.md
Due: none

docs(roadmap): link all M16-M18 issues and create solana-privacy-hack label
  ROADMAP.md
Due: none

refactor: replace "demo" terminology with "example/reference/sample" throughout codebase
  CLAUDE.md
  CONTRIBUTING.md
  README.md
  ROADMAP.md
  docs/architecture/PRIVACY-BACKENDS.md
  docs/research/react-native-feasibility.md
  docs/specs/THORCHAIN-RESEARCH.md
  examples/README.md
  examples/compliance/index.ts
  examples/private-payment/index.ts
  examples/wallet-integration/README.md
  examples/wallet-integration/index.ts
  packages/sdk/examples/auction-example.ts
  packages/sdk/package.json
  packages/sdk/tests/auction/auction-example.test.ts
Due: none

refactor: rename C+B Hybrid strategy to Dual Moat
  CLAUDE.md
  ROADMAP.md
  docs/specs/PROOF-COMPOSITION-RESEARCH.md
  docs/specs/THORCHAIN-RESEARCH.md
Due: none

docs: update VPS port registry with sip-app on port 5005
  CLAUDE.md
Due: none

feat(react): add Solana stealth transfer hooks
  packages/react/src/hooks/index.ts
  packages/react/src/hooks/use-scan-payments.ts
  packages/react/src/hooks/use-stealth-transfer.ts
  packages/react/tests/hooks/use-scan-payments.test.tsx
  packages/react/tests/hooks/use-stealth-transfer.test.tsx
Due: react

chore(react): audit fixes for useScanPayments
  packages/react/src/hooks/use-scan-payments.ts
Due: react

fix(react): resolve lint errors in useScanPayments
  packages/react/src/hooks/use-scan-payments.ts
Due: react

docs: add RPC-provider-agnostic architecture
  CLAUDE.md
  ROADMAP.md
Due: none

feat(sdk): add RPC-provider-agnostic architecture for Solana privacy
  packages/sdk/src/chains/solana/index.ts
  packages/sdk/src/chains/solana/providers/generic.ts
  packages/sdk/src/chains/solana/providers/helius.ts
  packages/sdk/src/chains/solana/providers/index.ts
  packages/sdk/src/chains/solana/providers/interface.ts
  packages/sdk/src/chains/solana/scan.ts
  packages/sdk/src/chains/solana/types.ts
  packages/sdk/src/index.ts
  packages/sdk/tests/chains/solana/providers.test.ts
Due: sdk

fix(sdk): address self-audit issues for RPC providers
  packages/sdk/src/chains/solana/providers/generic.ts
  packages/sdk/src/chains/solana/providers/helius.ts
  packages/sdk/src/chains/solana/scan.ts
  packages/sdk/tests/chains/solana/providers.test.ts
Due: sdk

feat(sdk): add Helius webhook handler for real-time payment detection
  packages/sdk/src/chains/solana/index.ts
  packages/sdk/src/chains/solana/providers/index.ts
  packages/sdk/src/chains/solana/providers/webhook.ts
  packages/sdk/src/index.ts
  packages/sdk/tests/chains/solana/webhook.test.ts
Due: sdk

fix(sdk): address self-audit issues for webhook handler
  packages/sdk/src/chains/solana/providers/webhook.ts
  packages/sdk/tests/chains/solana/webhook.test.ts
Due: sdk

feat(sdk): add Range SAS attestation-gated viewing key disclosure
  packages/sdk/src/compliance/index.ts
  packages/sdk/src/compliance/range-sas.ts
  packages/sdk/src/index.ts
  packages/sdk/tests/compliance/range-sas.test.ts
Due: sdk
