Repository sip-protocol/sip-protocol: changes, and which Codecov flags are due for each by the changed paths.
All: sdk, react, cli, api

fix(sdk): add deep freeze for config objects
  packages/sdk/src/privacy-backends/cspl.ts
  packages/sdk/src/privacy-backends/health.ts
  packages/sdk/src/privacy-backends/inco.ts
  packages/sdk/src/privacy-backends/index.ts
  packages/sdk/src/privacy-backends/interface.ts
  packages/sdk/tests/privacy-backends/interface.test.ts
Due: sdk

feat(sdk): add ArciumError class for standardized error handling
  packages/sdk/src/errors.ts
  packages/sdk/src/privacy-backends/arcium-types.ts
  packages/sdk/src/privacy-backends/arcium.ts
  packages/sdk/src/privacy-backends/index.ts
  packages/sdk/tests/privacy-backends/arcium.test.ts
Due: sdk

feat(sdk): add configurable limits to ArciumBackend (#619)
  packages/sdk/src/privacy-backends/arcium.ts
  packages/sdk/src/privacy-backends/index.ts
  packages/sdk/tests/privacy-backends/arcium.test.ts
Due: sdk

feat(arcium): add configurable upper bound limits (#619)
  packages/sdk/src/privacy-backends/arcium-types.ts
  packages/sdk/src/privacy-backends/arcium.ts
  packages/sdk/src/privacy-backends/index.ts
  packages/sdk/tests/privacy-backends/arcium.test.ts
Due: sdk

docs(sdk): add comprehensive JSDoc for CombinedPrivacyService methods (#533)
  packages/sdk/src/privacy-backends/combined-privacy.ts
Due: sdk

docs(sdk): add comprehensive JSDoc for combined-privacy public methods
  packages/sdk/src/privacy-backends/combined-privacy.ts
Due: sdk

feat(sdk): make CSPLClient.estimateCost async for consistency
  packages/sdk/src/privacy-backends/cspl.ts
  packages/sdk/tests/privacy-backends/cspl.test.ts
Due: sdk

fix(sdk): align CSPLClient cost estimation to async for consistency (#531)
  packages/sdk/src/privacy-backends/cspl.ts
  packages/sdk/tests/privacy-backends/cspl.test.ts
Due: sdk

feat(sdk): implement LRU cache for token accounts
  packages/sdk/src/privacy-backends/cspl.ts
  packages/sdk/src/privacy-backends/index.ts
  packages/sdk/src/privacy-backends/lru-cache.ts
  packages/sdk/tests/privacy-backends/cspl.test.ts
  packages/sdk/tests/privacy-backends/lru-cache.test.ts
Due: sdk

feat(sdk): implement LRU cache for CSPLClient token accounts (#525)
  packages/sdk/src/privacy-backends/cspl.ts
  packages/sdk/src/privacy-backends/index.ts
  packages/sdk/src/privacy-backends/interface.ts
  packages/sdk/tests/privacy-backends/cspl.test.ts
  packages/sdk/tests/privacy-backends/interface.test.ts
Due: sdk

feat(cli): add backends list command (#513)
  packages/cli/src/commands/backends.ts
  packages/cli/src/commands/index.ts
  packages/cli/src/index.ts
  packages/cli/tests/commands.test.ts
Due: cli

fix(cli): use correct SDK exports for backends command
  packages/cli/src/commands/backends.ts
  packages/cli/tests/commands.test.ts
Due: cli

feat(sdk): implement rate limiting for privacy backends (#511)
  packages/cli/src/commands/backends.ts
  packages/cli/src/commands/index.ts
  packages/cli/src/index.ts
  packages/sdk/src/privacy-backends/index.ts
  packages/sdk/src/privacy-backends/rate-limiter.ts
  packages/sdk/src/privacy-backends/registry.ts
  packages/sdk/tests/privacy-backends/rate-limiter.test.ts
  packages/sdk/tests/privacy-backends/registry.test.ts
Due: sdk, cli

feat(sdk): add env var configuration for Arcium RPC endpoints
  packages/sdk/src/privacy-backends/arcium-types.ts
  packages/sdk/src/privacy-backends/arcium.ts
  packages/sdk/src/privacy-backends/index.ts
  packages/sdk/tests/privacy-backends/arcium.test.ts
Due: sdk

docs: update production readiness report with current test counts
  docs/production-readiness-report.md
Due: none

docs: update code roast report with --no-mercy findings
  docs/CODE_ROAST_REPORT.md
Due: none

fix(api): replace unbounded swap Map with LRU cache (closes #637)
  packages/api/package.json
  packages/api/src/routes/health.ts
  packages/api/src/routes/swap.ts
  packages/api/src/stores/index.ts
  packages/api/src/stores/swap-store.ts
  packages/api/src/types/api.ts
  packages/api/tests/swap-store.test.ts
  pnpm-lock.yaml
Due: api

fix(cli): remove private key display from terminal output (closes #638)
  packages/cli/src/commands/scan.ts
  packages/cli/tests/commands.test.ts
Due: cli

fix(api): enable trust proxy for rate limiting behind reverse proxy (closes #639)
  packages/api/src/config.ts
  packages/api/src/middleware/rate-limit.ts
  packages/api/src/server.ts
  packages/api/tests/security.test.ts
Due: api

fix(api): remove hardcoded mock values, fail loudly in production (closes #640)
  packages/api/src/routes/swap.ts
  packages/api/src/services/index.ts
  packages/api/src/services/token-metadata.ts
  packages/api/tests/swap.test.ts
  packages/api/tests/token-metadata.test.ts
Due: api

fix(sdk): deprecation warnings now log only once per session (closes #647)
  packages/sdk/src/crypto.ts
  packages/sdk/src/utils/deprecation.ts
  packages/sdk/src/utils/index.ts
  packages/sdk/src/zcash/rpc-client.ts
  packages/sdk/tests/deprecation.test.ts
Due: sdk

chore: audit and track all TODO/FIXME comments with issue numbers (closes #648)
  packages/react/src/hooks/use-scan-payments.ts
  packages/sdk/src/compliance/range-sas.ts
  packages/sdk/src/privacy-backends/combined-privacy.ts
  packages/sdk/src/privacy-backends/cspl-token.ts
  packages/sdk/src/privacy-backends/magicblock.ts
Due: sdk, react

feat(api): generate and propagate X-Request-ID for request correlation (closes #649)
  packages/api/src/logger.ts
  packages/api/src/middleware/index.ts
  packages/api/src/middleware/request-id.ts
  packages/api/src/monitoring/sentry.ts
  packages/api/src/server.ts
  packages/api/tests/middleware.test.ts
Due: api

chore: remove all eslint-disable comments by fixing underlying type issues (closes #650)
  packages/react/src/hooks/use-scan-payments.ts
  packages/sdk/src/chains/solana/providers/quicknode.ts
  packages/sdk/src/chains/solana/providers/triton.ts
  packages/sdk/src/proofs/browser.ts
  packages/sdk/src/proofs/noir.ts
  packages/sdk/src/solana/noir-verifier.ts
Due: sdk, react

docs: sync .env.example files between root and packages/api (closes #651)
  packages/api/.env.example
Due: none

fix(api): handle malformed CORS origins gracefully (closes #644)
  packages/api/src/middleware/cors.ts
  packages/api/tests/security.test.ts
Due: api

fix(api): proof provider blocks until ready with retry (closes #646)
  packages/api/src/routes/health.ts
  packages/api/src/routes/proof.ts
  packages/api/src/types/api.ts
Due: api

fix(api): use ES2015 module syntax for Express request extension
  packages/api/src/middleware/request-id.ts
Due: api

feat(sdk): add quote caching and per-backend timeouts to settlement router (closes #642)
  packages/sdk/src/settlement/router.ts
Due: sdk

fix(api): add BigInt range validation for amount inputs (closes #641)
  packages/api/src/middleware/index.ts
  packages/api/src/middleware/validation.ts
  packages/api/src/routes/swap.ts
  packages/api/tests/commitment.test.ts
  packages/api/tests/middleware.test.ts
Due: api

fix(api): handle malformed URLs gracefully in CORS validation
  packages/api/src/middleware/cors.ts
  packages/api/tests/middleware.test.ts
Due: api

fix(sdk,cli): replace any types with proper TypeScript types
  packages/cli/src/commands/keygen.ts
  packages/cli/src/commands/scan.ts
  packages/sdk/src/chains/solana/providers/quicknode.ts
  packages/sdk/src/chains/solana/providers/triton.ts
  packages/sdk/src/index.ts
  packages/sdk/src/stealth.ts
Due: sdk, cli

feat(sdk): add waitUntilReady method to proof providers (#646)
  packages/sdk/src/proofs/browser.ts
  packages/sdk/src/proofs/interface.ts
  packages/sdk/src/proofs/mock.ts
  packages/sdk/src/proofs/noir.ts
Due: sdk

fix(sdk): fetch token decimals from mint metadata in gRPC providers
  packages/sdk/src/chains/solana/providers/quicknode.ts
  packages/sdk/src/chains/solana/providers/triton.ts
Due: sdk

feat(sdk): add token registry for correct decimals lookup (#645)
  packages/api/src/routes/swap.ts
  packages/api/tests/swap.test.ts
  packages/sdk/src/chains/solana/constants.ts
  packages/sdk/src/chains/solana/index.ts
  packages/sdk/src/errors.ts
  packages/sdk/src/index.ts
  packages/sdk/src/tokens/index.ts
  packages/sdk/src/tokens/registry.ts
  packages/sdk/tests/tokens/registry.test.ts
Due: sdk, api

fix(api): handle malformed CORS origin URLs gracefully (#644)
  packages/api/src/middleware/cors.ts
  packages/api/tests/security.test.ts
Due: api

fix(api): proof provider initialization blocks until ready or fails fast (#646)
  packages/api/src/routes/health.ts
  packages/api/src/routes/proof.ts
  packages/api/tests/health.test.ts
Due: api

fix(types): replace `any` types with proper TypeScript types (#643)
  packages/cli/src/commands/keygen.ts
  packages/cli/src/commands/scan.ts
  packages/sdk/src/chains/solana/providers/quicknode.ts
  packages/sdk/src/chains/solana/providers/triton.ts
Due: sdk, cli

feat(sdk): add production safety checks for localhost URLs (closes #659)
  packages/sdk/src/index.ts
  packages/sdk/src/production-safety.ts
  packages/sdk/tests/production-safety.test.ts
Due: sdk

Path conditions:
  sdk: any of: packages/sdk/src/, but not: **/*.test.ts, **/*.bench.ts, **/tests/**, **/node_modules/**, **/dist/**, **/*.d.ts, **/coverage/**
  react: any of: packages/react/src/, but not: **/*.test.ts, **/*.bench.ts, **/tests/**, **/node_modules/**, **/dist/**, **/*.d.ts, **/coverage/**
  cli: any of: packages/cli/src/, but not: **/*.test.ts, **/*.bench.ts, **/tests/**, **/node_modules/**, **/dist/**, **/*.d.ts, **/coverage/**
  api: any of: packages/api/src/, but not: **/*.test.ts, **/*.bench.ts, **/tests/**, **/node_modules/**, **/dist/**, **/*.d.ts, **/coverage/**
