Repository sip-protocol/sip-protocol: changes, and which Codecov flags are due for each by the changed paths.
All: sdk, react, cli, api

codecov.yml:

# Codecov Configuration
# https://docs.codecov.com/docs/codecovyml-reference

coverage:
  status:
    project:
      default:
        target: 70%
        threshold: 5%
        informational: true  # Don't fail PRs initially
    patch:
      default:
        target: 80%
        informational: true  # Don't fail PRs initially

comment:
  layout: "reach,diff,flags,files"
  behavior: default
  require_changes: true

ignore:
  - "**/*.test.ts"
  - "**/*.bench.ts"
  - "**/tests/**"
  - "**/node_modules/**"
  - "**/dist/**"
  - "**/*.d.ts"
  - "**/coverage/**"

flags:
  sdk:
    paths:
      - packages/sdk/src/
    carryforward: true
  react:
    paths:
      - packages/react/src/
    carryforward: true
  cli:
    paths:
      - packages/cli/src/
    carryforward: true
  api:
    paths:
      - packages/api/src/
    carryforward: true

docs(security): triage 10 deferred Dependabot alerts (v2.0.0)
  docs/security/DEPENDENCY-AUDIT.md
Due: none

security: enable Private Vulnerability Reporting as disclosure channel
  SECURITY.md
Due: none

fix(ci): run tests for all packages, not just @sip-protocol/sdk
  .github/workflows/ci.yml
Due: none

test(governance): fix flaky vote-leak assertion — check bytes, not hex
  packages/sdk/tests/governance/private-vote.test.ts
Due: none

refactor(stealth): migrate all check* callers + chain wrappers to canonical view-only
  packages/sdk/src/chains/ethereum/privacy-adapter.ts
  packages/sdk/src/chains/ethereum/stealth.ts
  packages/sdk/src/chains/near/privacy-adapter.ts
  packages/sdk/src/chains/near/resolver.ts
  packages/sdk/src/chains/near/stealth.ts
  packages/sdk/src/move/aptos.ts
  packages/sdk/src/move/sui.ts
  packages/sdk/src/nft/private-nft.ts
  packages/sdk/src/stealth/index.ts
  packages/sdk/src/wallet/ethereum/privacy-adapter.ts
  packages/sdk/src/wallet/hardware/ledger-privacy.ts
  packages/sdk/src/wallet/near/adapter.ts
  packages/sdk/src/wallet/near/meteor-wallet.ts
  packages/sdk/src/wallet/near/my-near-wallet.ts
  packages/sdk/src/wallet/near/wallet-selector.ts
  packages/sdk/src/wallet/solana/privacy-adapter.ts
Due: sdk

chore(sdk): 0.10.0 — canonical EIP-5564 stealth scheme (breaking)
  packages/sdk/CHANGELOG.md
  packages/sdk/package.json
Due: none

docs(stealth): spec + plan for canonical EIP-5564 fix (#1099)
  docs/superpowers/plans/2026-06-07-stealth-eip5564-canonical-fix.md
  docs/superpowers/specs/2026-06-07-stealth-eip5564-canonical-fix-design.md
Due: none

docs(examples): migrate check* call sites to canonical view-only signature
  examples/1inch-private-swap/index.ts
  examples/README.md
  examples/ethereum-integration/03-scan-and-claim.ts
  examples/ethereum-integration/README.md
  examples/near-integration/01-near-stealth-address.ts
  examples/private-payment/README.md
  examples/private-payment/index.ts
  examples/solana-integration/02-scan-and-claim.ts
  examples/solana-integration/04-viewing-key-disclosure.ts
  examples/uniswap-private-swap/index.ts
Due: none

feat(cli): canonical view-only scan + SIP:1 fallback; export V1 fns from SDK root
  packages/cli/package.json
  packages/cli/src/commands/scan.ts
  packages/sdk/src/index.ts
  pnpm-lock.yaml
Due: sdk, cli

feat(solana): version-routed claim (SIP:1 back-compat) + V1 dispatcher + barrel exports
  packages/sdk/src/chains/solana/scan.ts
  packages/sdk/src/chains/solana/types.ts
  packages/sdk/src/stealth.ts
  packages/sdk/src/stealth/index.ts
  packages/sdk/tests/crypto/stealth-v1-backcompat.test.ts
Due: sdk

test(react): assert useScanPayments scans view-only (viewing-private + spending-public)
  packages/react/tests/hooks/use-scan-payments.test.tsx
Due: none

fix(stealth): flip 4 inline scheme copies to canonical EIP-5564
  packages/sdk/src/chains/ethereum/stealth.ts
  packages/sdk/src/chains/solana/ephemeral-keys.ts
  packages/sdk/src/cosmos/ibc-stealth.ts
  packages/sdk/src/wallet/solana/privacy-adapter.ts
Due: sdk

test(stealth): migrate all check* call sites to canonical view-only signature
  packages/sdk/tests/benchmarks/near-privacy.test.ts
  packages/sdk/tests/benchmarks/performance.test.ts
  packages/sdk/tests/chains/ethereum/eip5564.test.ts
  packages/sdk/tests/chains/ethereum/privacy-adapter.test.ts
  packages/sdk/tests/chains/ethereum/stealth.test.ts
  packages/sdk/tests/chains/near/privacy-adapter.test.ts
  packages/sdk/tests/chains/near/stealth.test.ts
  packages/sdk/tests/chains/solana/key-derivation.test.ts
  packages/sdk/tests/chains/solana/scan.test.ts
  packages/sdk/tests/crypto/stealth-ed25519.test.ts
  packages/sdk/tests/crypto/stealth.test.ts
  packages/sdk/tests/e2e/cross-chain-stealth.test.ts
  packages/sdk/tests/e2e/cross-chain-swap.test.ts
  packages/sdk/tests/e2e/ethereum/ethereum-privacy.e2e.test.ts
  packages/sdk/tests/e2e/helpers.ts
  packages/sdk/tests/e2e/performance-metrics.test.ts
  packages/sdk/tests/e2e/privacy-verification.test.ts
  packages/sdk/tests/e2e/solana/multi-party.e2e.test.ts
  packages/sdk/tests/e2e/solana/receive-flow.e2e.test.ts
  packages/sdk/tests/e2e/solana/send-flow.e2e.test.ts
  packages/sdk/tests/e2e/solana/viewing-key.e2e.test.ts
  packages/sdk/tests/integration/full-flow.test.ts
  packages/sdk/tests/move/aptos.test.ts
  packages/sdk/tests/move/sui.test.ts
  packages/sdk/tests/security/fuzzing.test.ts
Due: none

feat(stealth): flip ed25519 to canonical EIP-5564 view-only + preserve V1
  packages/sdk/src/stealth/ed25519.ts
  packages/sdk/tests/crypto/stealth-ed25519-canonical.test.ts
Due: sdk

feat(solana): SIP:2 canonical announcements + version-aware parsing + e2e view-only scan test
  packages/sdk/src/chains/solana/constants.ts
  packages/sdk/src/chains/solana/index.ts
  packages/sdk/src/chains/solana/providers/helius-enhanced.ts
  packages/sdk/src/chains/solana/providers/webhook.ts
  packages/sdk/src/chains/solana/scan.ts
  packages/sdk/src/chains/solana/stealth-scanner.ts
  packages/sdk/src/chains/solana/types.ts
  packages/sdk/tests/chains/solana/scan-canonical.test.ts
Due: sdk

feat(stealth): flip secp256k1 to canonical EIP-5564 view-only + preserve V1
  packages/sdk/src/stealth/secp256k1.ts
  packages/sdk/tests/crypto/stealth-secp256k1-canonical.test.ts
Due: sdk

refactor(stealth): remove unused non-canonical ephemeral-keys helper
  packages/sdk/CHANGELOG.md
  packages/sdk/src/chains/solana/ephemeral-keys.ts
  packages/sdk/src/chains/solana/index.ts
  packages/sdk/tests/chains/solana/ephemeral-keys.test.ts
Due: sdk

fix(solana): helius-enhanced SIP:2 memo extraction
  packages/sdk/src/chains/solana/providers/helius-enhanced.ts
  packages/sdk/tests/chains/solana/providers/helius-enhanced.test.ts
Due: sdk

test(solana): end-to-end scanForPayments view-only detection
  packages/sdk/tests/chains/solana/scan-e2e.test.ts
  packages/sdk/tests/crypto/stealth-ed25519-canonical.test.ts
Due: none

docs(test): correct stale primitive-test filename in scan-e2e comment
  packages/sdk/tests/chains/solana/scan-e2e.test.ts
Due: none

test(solana): cover single-hex-digit view tag in helius SIP extraction
  packages/sdk/tests/chains/solana/providers/helius-enhanced.test.ts
Due: none

fix(stealth): reduce secp256k1 hash(S) mod n in generate + check (#1102)
  packages/sdk/src/stealth/secp256k1.ts
  packages/sdk/tests/crypto/stealth-secp256k1-canonical.test.ts
Due: sdk

fix(near): emit canonical SIP:2 announcements, parse both versions (#1103)
  packages/sdk/src/chains/near/constants.ts
  packages/sdk/src/chains/near/index.ts
  packages/sdk/src/chains/near/resolver.ts
  packages/sdk/src/chains/near/types.ts
  packages/sdk/tests/chains/near/implicit-account.test.ts
  packages/sdk/tests/chains/near/resolver.test.ts
Due: sdk

docs(stealth): fix stale SIP:1 comment + legacy-claim CHANGELOG snippet (#1105)
  packages/sdk/CHANGELOG.md
  packages/sdk/src/chains/solana/transfer.ts
Due: sdk

chore: add changeset for stealth canonical follow-ups (#1102 #1103 #1105)
  .changeset/stealth-canonical-followups.md
Due: none

feat(ethereum): view-only stealth scanning (#1104)
  .changeset/evm-view-only-scan.md
  packages/sdk/src/chains/ethereum/index.ts
  packages/sdk/src/chains/ethereum/privacy-adapter.ts
  packages/sdk/src/chains/ethereum/stealth.ts
  packages/sdk/src/chains/ethereum/types.ts
  packages/sdk/tests/chains/ethereum/view-only-scan.test.ts
Due: sdk

fix(ci): run changeset version via pnpm run, not the built-in
  .github/workflows/release.yml
Due: none

fix(changeset): release EVM view-only scanning as minor, not patch
  .changeset/evm-view-only-scan.md
Due: none

chore(format): add Prettier config matching house style
  .prettierrc.json
Due: none

docs(claude): refresh package versions to 0.11.0
  CLAUDE.md
Due: none

fix(sdk): export SIP_MEMO_PREFIX_V2 + SIP_MEMO_PREFIX_ANY from package entry
  .changeset/export-memo-prefix-constants.md
  packages/sdk/src/index.ts
  packages/sdk/tests/memo-prefix-exports.test.ts
Due: sdk

docs: add @sipprotocol X activation & maintenance roadmap spec
  docs/superpowers/specs/2026-06-10-sipprotocol-x-activation-design.md
Due: none

docs: add @sipprotocol X activation implementation plan
  docs/superpowers/plans/2026-06-10-sipprotocol-x-activation.md
Due: none

docs: add Discord server design spec (T3 gate A1)
  docs/superpowers/specs/2026-06-10-discord-server-design.md
Due: none

docs: add Discord server implementation plan
  docs/superpowers/plans/2026-06-10-discord-server-setup.md
Due: none

docs: add Discord professional standard (v1.5) design spec
  docs/superpowers/specs/2026-06-11-discord-professional-standard-design.md
Due: none

docs: add Discord professional standard implementation plan
  docs/superpowers/plans/2026-06-11-discord-professional-standard.md
Due: none

docs: correct Solana program facts in CLAUDE.md (ix counts, privacy models, vault tests)
  CLAUDE.md
Due: none

chore(deps): align @typescript-eslint/eslint-plugin to v8
  .eslintrc.js
  package.json
  packages/sdk/src/proofs/parallel/concurrency.ts
  pnpm-lock.yaml
Due: sdk

docs(security): record deferred major upgrades (bb.js, commander, TS6)
  docs/security/DEPENDENCY-AUDIT.md
Due: none
