Repository sip-protocol/sip-protocol: changes, and which Codecov flags are due for each by the changed paths.
All: sdk, react, cli, api

fix(compliance): self-audit fixes for Range SAS integration
  packages/sdk/src/compliance/range-sas.ts
  packages/sdk/tests/compliance/range-sas.test.ts
Due: sdk

fix(compliance): address PR #499 audit feedback
  packages/sdk/src/chains/solana/providers/webhook.ts
  packages/sdk/src/compliance/range-sas.ts
  packages/sdk/tests/compliance/range-sas.test.ts
Due: sdk

feat(sdk): add Solana devnet integration test script
  packages/sdk/scripts/devnet-test.ts
Due: none

feat(sdk): add PrivacyBackend interface and SmartRouter v2 (#483)
  packages/sdk/src/index.ts
  packages/sdk/src/privacy-backends/index.ts
  packages/sdk/src/privacy-backends/interface.ts
  packages/sdk/src/privacy-backends/registry.ts
  packages/sdk/src/privacy-backends/router.ts
  packages/sdk/src/privacy-backends/sip-native.ts
  packages/sdk/tests/privacy-backends/interface.test.ts
  packages/sdk/tests/privacy-backends/registry.test.ts
  packages/sdk/tests/privacy-backends/router.test.ts
  packages/sdk/tests/privacy-backends/sip-native.test.ts
Due: sdk

feat(sdk): add wallet surveillance analysis module
  packages/sdk/src/index.ts
  packages/sdk/src/surveillance/algorithms/address-reuse.ts
  packages/sdk/src/surveillance/algorithms/cluster.ts
  packages/sdk/src/surveillance/algorithms/exchange.ts
  packages/sdk/src/surveillance/algorithms/temporal.ts
  packages/sdk/src/surveillance/analyzer.ts
  packages/sdk/src/surveillance/index.ts
  packages/sdk/src/surveillance/scoring.ts
  packages/sdk/src/surveillance/types.ts
  packages/sdk/tests/surveillance.test.ts
Due: sdk

feat(sdk): add PrivacyCash backend for pool mixing privacy
  packages/sdk/src/privacy-backends/index.ts
  packages/sdk/src/privacy-backends/privacycash-types.ts
  packages/sdk/src/privacy-backends/privacycash.ts
  packages/sdk/tests/privacy-backends/privacycash.test.ts
Due: sdk

fix(sdk): address self-audit issues in PrivacyCash backend
  packages/sdk/src/privacy-backends/privacycash.ts
Due: sdk

fix(sdk): address self-audit issues for surveillance analyzer
  packages/sdk/src/surveillance/analyzer.ts
Due: sdk

feat(sdk): add Arcium MPC compute privacy backend
  packages/sdk/src/privacy-backends/arcium-types.ts
  packages/sdk/src/privacy-backends/arcium.ts
  packages/sdk/src/privacy-backends/index.ts
  packages/sdk/src/privacy-backends/interface.ts
  packages/sdk/src/privacy-backends/router.ts
  packages/sdk/tests/privacy-backends/arcium.test.ts
Due: sdk

chore(sdk): bump version to 0.7.3 for surveillance module
  packages/sdk/package.json
Due: none

chore: add Dependabot configuration
  .github/dependabot.yml
Due: none

feat(sdk): add Inco FHE compute privacy backend
  packages/sdk/src/privacy-backends/inco-types.ts
  packages/sdk/src/privacy-backends/inco.ts
  packages/sdk/src/privacy-backends/index.ts
  packages/sdk/tests/privacy-backends/inco.test.ts
Due: sdk

chore: trigger dependabot (temp daily)
  .github/dependabot.yml
Due: none

chore: revert to weekly schedule
  .github/dependabot.yml
Due: none

feat(sdk): add C-SPL confidential token standard and PrivateSwap
  packages/sdk/src/privacy-backends/cspl-types.ts
  packages/sdk/src/privacy-backends/cspl.ts
  packages/sdk/src/privacy-backends/index.ts
  packages/sdk/src/privacy-backends/private-swap.ts
  packages/sdk/tests/privacy-backends/cspl.test.ts
  packages/sdk/tests/privacy-backends/private-swap.test.ts
Due: sdk

docs(research): WOTS+ post-quantum signature feasibility study
  docs/specs/WOTS-SIGNATURE-RESEARCH.md
Due: none

fix(research): correct compute unit estimate in executive summary
  docs/specs/WOTS-SIGNATURE-RESEARCH.md
Due: none

feat(sdk): add QuickNode and Triton RPC provider adapters
  packages/sdk/package.json
  packages/sdk/src/chains/solana/providers/index.ts
  packages/sdk/src/chains/solana/providers/interface.ts
  packages/sdk/src/chains/solana/providers/quicknode.ts
  packages/sdk/src/chains/solana/providers/triton.ts
  packages/sdk/tests/chains/solana/providers.test.ts
  pnpm-lock.yaml
Due: sdk

feat(solana): add Noir proof verification and compliance proofs
  docs/bounties/aztec-noir-submission.md
  examples/noir-solana-demo/README.md
  examples/noir-solana-demo/package.json
  examples/noir-solana-demo/src/index.ts
  packages/sdk/src/index.ts
  packages/sdk/src/proofs/compliance-proof.ts
  packages/sdk/src/proofs/index.ts
  packages/sdk/src/solana/index.ts
  packages/sdk/src/solana/noir-verifier-types.ts
  packages/sdk/src/solana/noir-verifier.ts
  packages/sdk/tests/proofs/compliance-proof.test.ts
  packages/sdk/tests/solana/noir-verifier.test.ts
Due: sdk

fix(sdk): normalize trailing slash in Triton endpoint URL
  packages/sdk/src/chains/solana/providers/triton.ts
Due: sdk

fix(audit): address critical and high priority issues from self-audit
  packages/sdk/src/index.ts
  packages/sdk/src/proofs/compliance-proof.ts
  packages/sdk/src/solana/index.ts
  packages/sdk/src/solana/noir-verifier-types.ts
  packages/sdk/src/solana/noir-verifier.ts
Due: sdk

feat(sdk): add circuit breaker and health tracking for privacy backends
  packages/sdk/src/privacy-backends/health.ts
  packages/sdk/src/privacy-backends/index.ts
  packages/sdk/src/privacy-backends/interface.ts
  packages/sdk/src/privacy-backends/registry.ts
  packages/sdk/src/privacy-backends/router.ts
  packages/sdk/tests/privacy-backends/health.test.ts
  packages/sdk/tests/privacy-backends/router.test.ts
Due: sdk

fix(sdk): address self-audit issues for privacy backend hardening
  packages/sdk/src/privacy-backends/interface.ts
  packages/sdk/src/privacy-backends/router.ts
  packages/sdk/tests/privacy-backends/router.test.ts
Due: sdk

feat(sdk): add Triton RPC provider with Dragon's Mouth gRPC subscriptions
  packages/sdk/package.json
  packages/sdk/src/chains/solana/providers/index.ts
  packages/sdk/src/chains/solana/providers/interface.ts
  packages/sdk/src/chains/solana/providers/triton.ts
  packages/sdk/tests/chains/solana/providers.test.ts
  packages/sdk/tests/chains/solana/providers/triton.test.ts
  pnpm-lock.yaml
Due: sdk

feat(sdk): add Arcium integration with C-SPL tokens and combined privacy
  packages/sdk/README.md
  packages/sdk/docs/ARCIUM-INTEGRATION.md
  packages/sdk/examples/arcium-privacy-demo.ts
  packages/sdk/examples/arcium-quickstart.ts
  packages/sdk/src/privacy-backends/arcium-types.ts
  packages/sdk/src/privacy-backends/arcium.ts
  packages/sdk/src/privacy-backends/combined-privacy.ts
  packages/sdk/src/privacy-backends/cspl-token.ts
  packages/sdk/src/privacy-backends/index.ts
  packages/sdk/tests/privacy-backends/arcium.test.ts
  packages/sdk/tests/privacy-backends/combined-privacy.test.ts
  packages/sdk/tests/privacy-backends/cspl-token.test.ts
Due: sdk

docs(sdk): add Helius integration documentation and examples
  packages/sdk/README.md
  packages/sdk/docs/HELIUS-INTEGRATION.md
  packages/sdk/examples/helius-scanning.ts
  packages/sdk/examples/helius-webhook-server.ts
Due: none

fix(sdk): address 8 high priority security audit issues
  packages/sdk/src/chains/solana/providers/helius.ts
  packages/sdk/src/chains/solana/providers/webhook.ts
  packages/sdk/src/chains/solana/scan.ts
  packages/sdk/src/chains/solana/transfer.ts
Due: sdk

fix(security): resolve 8 HIGH severity vulnerabilities in Helius integration
  packages/sdk/src/chains/solana/index.ts
  packages/sdk/src/chains/solana/providers/helius.ts
  packages/sdk/src/chains/solana/providers/index.ts
  packages/sdk/src/chains/solana/providers/webhook.ts
  packages/sdk/src/chains/solana/transfer.ts
  packages/sdk/src/errors.ts
  packages/sdk/src/index.ts
  packages/sdk/tests/chains/solana/providers.test.ts
Due: sdk

fix(sdk): address 12 medium priority security audit issues
  packages/sdk/src/chains/solana/providers/generic.ts
  packages/sdk/src/chains/solana/providers/helius.ts
  packages/sdk/src/chains/solana/providers/interface.ts
  packages/sdk/src/chains/solana/providers/webhook.ts
  packages/sdk/src/chains/solana/scan.ts
  packages/sdk/src/chains/solana/types.ts
  packages/sdk/tests/chains/solana/providers.test.ts
Due: sdk

fix(sdk): address 6 low priority audit issues for Solana integration
  packages/sdk/src/chains/solana/constants.ts
  packages/sdk/src/chains/solana/providers/helius.ts
  packages/sdk/src/chains/solana/providers/webhook.ts
  packages/sdk/src/chains/solana/scan.ts
  packages/sdk/tests/chains/solana/providers.test.ts
  packages/sdk/tests/chains/solana/webhook.test.ts
Due: sdk

fix: remove obsolete test files for deleted sources
  packages/sdk/src/chains/solana/providers/generic.ts
  packages/sdk/src/chains/solana/scan.ts
  packages/sdk/src/chains/solana/types.ts
  packages/sdk/tests/privacy-backends/combined-privacy.test.ts
  packages/sdk/tests/privacy-backends/cspl-token.test.ts
Due: sdk

fix(solana): resolve MEDIUM severity issues from Helius audit
  packages/sdk/src/chains/solana/providers/helius.ts
  packages/sdk/src/chains/solana/providers/webhook.ts
  packages/sdk/src/chains/solana/scan.ts
  packages/sdk/src/chains/solana/types.ts
Due: sdk

fix(api): handle Express 5 param typing for swap status route
  packages/api/src/routes/swap.ts
Due: api

fix(sdk): address LOW severity audit findings (L7, L9)
  packages/api/src/middleware/validation.ts
  packages/sdk/tests/chains/solana/providers.test.ts
  packages/sdk/tests/chains/solana/webhook.test.ts
Due: api

fix(api): update validation middleware for Zod compatibility
  packages/api/src/middleware/validation.ts
Due: api

fix(sdk): update noir providers for bb.js 3.x API
  packages/sdk/src/proofs/browser.ts
  packages/sdk/src/proofs/noir.ts
Due: sdk

docs(roadmap): add Full Stack Privacy concept with Dark AMM integration
  ROADMAP.md
Due: none

chore(deps): upgrade Solana packages to latest
  packages/sdk/package.json
  pnpm-lock.yaml
Due: none

Path conditions:
  sdk: any of: packages/sdk/src/, but not: **/*.test.ts, **/*.bench.ts, **/tests/**, **/node_modules/**, **/dist/**, **/*.d.ts, **/coverage/**
  react: any of: packages/react/src/, but not: **/*.test.ts, **/*.bench.ts, **/tests/**, **/node_modules/**, **/dist/**, **/*.d.ts, **/coverage/**
  cli: any of: packages/cli/src/, but not: **/*.test.ts, **/*.bench.ts, **/tests/**, **/node_modules/**, **/dist/**, **/*.d.ts, **/coverage/**
  api: any of: packages/api/src/, but not: **/*.test.ts, **/*.bench.ts, **/tests/**, **/node_modules/**, **/dist/**, **/*.d.ts, **/coverage/**
