Repository sip-protocol/sip-protocol: changes, and which Codecov flags are due for each by the changed paths.
All: sdk, react, cli, api

fix(deps): patch high severity vulnerabilities (CVE-2025-3194)
  package.json
  pnpm-lock.yaml
Due: none

feat: add structured logging with pino (closes #657)
  packages/sdk/package.json
  packages/sdk/src/index.ts
  packages/sdk/src/intent.ts
  packages/sdk/src/logger.ts
  packages/sdk/src/proofs/mock.ts
  packages/sdk/src/settlement/router.ts
  packages/sdk/src/utils/deprecation.ts
  packages/sdk/tests/deprecation.test.ts
  packages/sdk/tests/logger.test.ts
  packages/sdk/tests/proofs/mock-provider.test.ts
  pnpm-lock.yaml
Due: sdk

feat(cli): add --output-file and --format flags for secure key export (closes #656)
  packages/cli/src/commands/keygen.ts
  packages/cli/src/commands/scan.ts
  packages/cli/tests/commands.test.ts
Due: cli

feat: add proper circuit breaker for settlement backends (closes #655)
  packages/sdk/src/settlement/index.ts
  packages/sdk/src/settlement/router.ts
  packages/sdk/tests/settlement/circuit-breaker.test.ts
Due: sdk

docs: enhance SECURITY.md with threat model and crypto primitives (closes #658, closes #636)
  SECURITY.md
Due: none

feat(react): implement claimAll() in useScanPayments hook (closes #662)
  packages/react/src/hooks/index.ts
  packages/react/src/hooks/use-scan-payments.ts
  packages/react/tests/hooks/use-scan-payments.test.tsx
Due: react

feat(api): add Redis-based distributed rate limiting (closes #654)
  packages/api/package.json
  packages/api/src/middleware/rate-limit.ts
  packages/api/src/routes/health.ts
  packages/api/src/types/api.ts
  pnpm-lock.yaml
Due: api

feat(sdk): make localhost RPC defaults configurable via env vars (closes #653)
  packages/sdk/src/chains/solana/constants.ts
  packages/sdk/src/config/endpoints.ts
  packages/sdk/src/index.ts
  packages/sdk/src/solana/noir-verifier-types.ts
  packages/sdk/src/wallet/ethereum/types.ts
  packages/sdk/src/wallet/solana/adapter.ts
  packages/sdk/src/wallet/sui/types.ts
  packages/sdk/src/zcash/rpc-client.ts
Due: sdk

docs: add branch naming convention to CONTRIBUTING.md (closes #606)
  CONTRIBUTING.md
Due: none

refactor(sdk): split stealth.ts (1599 lines) into modular structure
  packages/sdk/src/stealth.ts
  packages/sdk/src/stealth/address-derivation.ts
  packages/sdk/src/stealth/ed25519.ts
  packages/sdk/src/stealth/index.ts
  packages/sdk/src/stealth/meta-address.ts
  packages/sdk/src/stealth/secp256k1.ts
  packages/sdk/src/stealth/utils.ts
Due: sdk

feat(sdk): add PrivacyBackend interface versioning (closes #512)
  packages/sdk/src/privacy-backends/index.ts
  packages/sdk/src/privacy-backends/interface.ts
  packages/sdk/src/privacy-backends/mock.ts
  packages/sdk/src/privacy-backends/registry.ts
  packages/sdk/src/privacy-backends/sip-native.ts
  packages/sdk/tests/privacy-backends/interface.test.ts
Due: sdk

feat(sdk): add PrivacyBackend performance benchmarks (closes #510)
  packages/sdk/tests/benchmarks/privacy-backends.test.ts
Due: none

docs(specs): add WOTS+ post-quantum signature research document
  docs/specs/WOTS-PLUS-RESEARCH.md
Due: none

docs(content): add Full Stack Privacy narrative for Dark AMM integration
  docs/content/full-stack-privacy-dark-amm.md
  docs/content/full-stack-privacy-thread.md
Due: none

feat(compliance): implement Range SAS API integration
  packages/sdk/src/compliance/index.ts
  packages/sdk/src/compliance/range-sas.ts
  packages/sdk/src/index.ts
Due: sdk

feat(sdk): add network privacy layer with Tor/SOCKS5 proxy support
  packages/sdk/package.json
  packages/sdk/src/index.ts
  packages/sdk/src/network/index.ts
  packages/sdk/src/network/proxy.ts
  packages/sdk/tests/network/proxy.test.ts
  pnpm-lock.yaml
Due: sdk

feat(solana): implement SIP Privacy Anchor program (closes #399, closes #400, closes #402)
  programs/sip-privacy/.gitignore
  programs/sip-privacy/.prettierignore
  programs/sip-privacy/Anchor.toml
  programs/sip-privacy/Cargo.lock
  programs/sip-privacy/Cargo.toml
  programs/sip-privacy/migrations/deploy.ts
  programs/sip-privacy/package-lock.json
  programs/sip-privacy/package.json
  programs/sip-privacy/programs/sip-privacy/Cargo.toml
  programs/sip-privacy/programs/sip-privacy/src/commitment/mod.rs
  programs/sip-privacy/programs/sip-privacy/src/lib.rs
  programs/sip-privacy/rust-toolchain.toml
  programs/sip-privacy/tests/sip-privacy.ts
  programs/sip-privacy/tsconfig.json
Due: none

feat(solana): add on-chain ZK proof verifier module (closes #403)
  programs/sip-privacy/programs/sip-privacy/src/lib.rs
  programs/sip-privacy/programs/sip-privacy/src/zk_verifier/mod.rs
Due: none

docs(solana): add audit preparation package (closes #404)
  programs/sip-privacy/AUDIT.md
  programs/sip-privacy/README.md
  programs/sip-privacy/SECURITY_CHECKLIST.md
Due: none

feat(contracts): add Ethereum SIP Privacy contracts (#406, #407, #408)
  contracts/sip-ethereum/foundry.toml
  contracts/sip-ethereum/src/PedersenVerifier.sol
  contracts/sip-ethereum/src/SIPPrivacy.sol
  contracts/sip-ethereum/src/interfaces/IERC20.sol
  contracts/sip-ethereum/src/interfaces/IPedersenVerifier.sol
  contracts/sip-ethereum/src/interfaces/IZKVerifier.sol
  contracts/sip-ethereum/src/utils/ReentrancyGuard.sol
Due: none

feat(sdk): add Jito relayer for Solana gas abstraction (#421)
  packages/sdk/src/index.ts
  packages/sdk/src/solana/index.ts
  packages/sdk/src/solana/jito-relayer.ts
Due: sdk

feat(sdk): integrate Helius Enhanced Transactions API (#456)
  packages/sdk/src/chains/solana/index.ts
  packages/sdk/src/chains/solana/providers/helius-enhanced-types.ts
  packages/sdk/src/chains/solana/providers/helius-enhanced.ts
  packages/sdk/src/chains/solana/providers/index.ts
  packages/sdk/src/index.ts
  packages/sdk/tests/chains/solana/providers/helius-enhanced.test.ts
Due: sdk

feat(react-native): add mobile SDK with secure key storage (#455)
  packages/react-native/README.md
  packages/react-native/package.json
  packages/react-native/src/hooks/index.ts
  packages/react-native/src/hooks/use-scan-payments.ts
  packages/react-native/src/hooks/use-stealth-address.ts
  packages/react-native/src/hooks/use-stealth-transfer.ts
  packages/react-native/src/index.ts
  packages/react-native/src/storage/index.ts
  packages/react-native/src/storage/secure-storage.ts
  packages/react-native/src/utils/clipboard.ts
  packages/react-native/src/utils/index.ts
  packages/react-native/tests/secure-storage.test.ts
  packages/react-native/tsconfig.json
  packages/react-native/vitest.config.ts
Due: none

feat(sdk): add ERC-4337 relayer for EVM gas abstraction
  packages/sdk/src/evm/erc4337-relayer.ts
  packages/sdk/src/evm/index.ts
  packages/sdk/tests/evm/erc4337-relayer.test.ts
Due: sdk

docs(specs): add proof composition architecture design
  docs/specs/PROOF-COMPOSITION-ARCHITECTURE.md
Due: none

feat(sdk): add Fireblocks viewing key API integration
  packages/sdk/src/compliance/fireblocks.ts
  packages/sdk/src/compliance/index.ts
  packages/sdk/tests/compliance/fireblocks.test.ts
Due: sdk

chore: update lockfile for react-native package
  pnpm-lock.yaml
Due: none

fix(react-native): resolve CI build and typecheck errors
  packages/react-native/package.json
  packages/react-native/src/hooks/use-scan-payments.ts
  packages/react-native/src/hooks/use-stealth-address.ts
  packages/react-native/src/hooks/use-stealth-transfer.ts
  packages/react-native/src/storage/secure-storage.ts
  packages/react-native/tsconfig.json
  pnpm-lock.yaml
Due: none

fix(react-native): add eslint-disable for require statements
  packages/react-native/src/storage/secure-storage.ts
  packages/react-native/src/utils/clipboard.ts
Due: none

fix(sdk): wrap case block in braces for no-case-declarations rule
  packages/sdk/src/chains/solana/providers/helius-enhanced.ts
Due: sdk

feat(contracts): complete M18 Ethereum - ZK verifier, EIP-5564, audit prep (#409, #410, #411)
  contracts/sip-ethereum/AUDIT.md
  contracts/sip-ethereum/README.md
  contracts/sip-ethereum/SECURITY_CHECKLIST.md
  contracts/sip-ethereum/src/SIPPrivacy.sol
  contracts/sip-ethereum/src/StealthAddressRegistry.sol
  contracts/sip-ethereum/src/ZKVerifier.sol
Due: none

chore(react-native): bump version to 0.1.1
  packages/react-native/package.json
Due: none

docs(m19): add proof composition research documentation
  docs/specs/PROOF-COMPOSITION-REPORT.md
  docs/specs/PROOF-SYSTEM-COMPARISON.md
Due: none

docs: add SDK quick-start integration guides (closes #398)
  docs/guides/QUICK-START-DAO.md
  docs/guides/QUICK-START-DEX.md
  docs/guides/QUICK-START-NFT.md
  docs/guides/QUICK-START-PAYMENTS.md
  docs/guides/QUICK-START-WALLET.md
Due: none

docs: add developer workshop materials (closes #397)
  docs/workshops/README.md
  docs/workshops/faq.md
  docs/workshops/hands-on-tutorial.md
  docs/workshops/sample-code/solution/README.md
  docs/workshops/sample-code/solution/src/hooks/usePrivateAddress.ts
  docs/workshops/sample-code/solution/src/hooks/usePrivateReceive.ts
  docs/workshops/sample-code/solution/src/hooks/usePrivateSend.ts
  docs/workshops/sample-code/starter/README.md
  docs/workshops/sample-code/starter/package.json
  docs/workshops/sample-code/starter/src/hooks/usePrivateAddress.ts
  docs/workshops/sample-code/starter/src/hooks/usePrivateReceive.ts
  docs/workshops/sample-code/starter/src/hooks/usePrivateSend.ts
  docs/workshops/slides.md
Due: none

docs: add Superteam events plan and Twitter content calendar
  docs/content/SUPERTEAM-EVENTS-PLAN.md
  docs/content/TWITTER-CONTENT-CALENDAR.md
Due: none

docs: add 15 Twitter threads on privacy architecture (closes #390)
  docs/content/twitter-threads/01-pool-mixing-broken.md
  docs/content/twitter-threads/02-stealth-addresses-101.md
  docs/content/twitter-threads/03-pedersen-commitments.md
  docs/content/twitter-threads/04-sip-vs-privacycash.md
  docs/content/twitter-threads/05-viewing-keys-daos.md
  docs/content/twitter-threads/06-amount-correlation.md
  docs/content/twitter-threads/07-compliance-matters.md
  docs/content/twitter-threads/08-sdk-getting-started.md
  docs/content/twitter-threads/09-privacy-levels.md
  docs/content/twitter-threads/10-cross-vs-same-chain.md
  docs/content/twitter-threads/11-solana-privacy-landscape.md
  docs/content/twitter-threads/12-future-web3-privacy.md
  docs/content/twitter-threads/13-technical-architecture.md
  docs/content/twitter-threads/14-integration-stories.md
  docs/content/twitter-threads/15-developer-ama.md
  docs/content/twitter-threads/README.md
Due: none

docs: add 3 SDK integration guide articles (closes #389)
  docs/content/articles/01-getting-started-sdk.md
  docs/content/articles/02-privacy-dapp.md
  docs/content/articles/03-viewing-keys-compliance.md
Due: none

docs: add technical deep-dive on Stealth Addresses for Solana (closes #388)
  docs/content/articles/04-stealth-addresses-solana.md
Due: none

docs: add article on Cryptographic Privacy vs Pool Mixing (closes #384)
  docs/content/articles/05-cryptographic-vs-pool-mixing.md
Due: none

Path conditions:
  sdk: any of: packages/sdk/src/, but not: **/*.test.ts, **/*.bench.ts, **/tests/**, **/node_modules/**, **/dist/**, **/*.d.ts, **/coverage/**
  react: any of: packages/react/src/, but not: **/*.test.ts, **/*.bench.ts, **/tests/**, **/node_modules/**, **/dist/**, **/*.d.ts, **/coverage/**
  cli: any of: packages/cli/src/, but not: **/*.test.ts, **/*.bench.ts, **/tests/**, **/node_modules/**, **/dist/**, **/*.d.ts, **/coverage/**
  api: any of: packages/api/src/, but not: **/*.test.ts, **/*.bench.ts, **/tests/**, **/node_modules/**, **/dist/**, **/*.d.ts, **/coverage/**
