Repository sip-protocol/sip-protocol: changes, and which Codecov flags are due for each by the changed paths.
All: sdk, react, cli, api

codecov.yml:

# Codecov Configuration
# https://docs.codecov.com/docs/codecovyml-reference

coverage:
  status:
    project:
      default:
        target: 70%
        threshold: 5%
        informational: true  # Don't fail PRs initially
    patch:
      default:
        target: 80%
        informational: true  # Don't fail PRs initially

comment:
  layout: "reach,diff,flags,files"
  behavior: default
  require_changes: true

ignore:
  - "**/*.test.ts"
  - "**/*.bench.ts"
  - "**/tests/**"
  - "**/node_modules/**"
  - "**/dist/**"
  - "**/*.d.ts"
  - "**/coverage/**"

flags:
  sdk:
    paths:
      - packages/sdk/src/
    carryforward: true
  react:
    paths:
      - packages/react/src/
    carryforward: true
  cli:
    paths:
      - packages/cli/src/
    carryforward: true
  api:
    paths:
      - packages/api/src/
    carryforward: true

docs: update Zypherpunk ranking to #9/93 after new sponsor announcements
  CLAUDE.md
Due: none

docs: add grants tracking location to CLAUDE.md
  CLAUDE.md
Due: none

chore: update tar to 7.5.6 (fix CVE high severity)
  pnpm-lock.yaml
Due: none

feat(sdk): migrate Solana RPC client to @solana/kit
  packages/sdk/package.json
  packages/sdk/src/chains/solana/index.ts
  packages/sdk/src/chains/solana/kit-compat.ts
  packages/sdk/src/chains/solana/rpc-client.ts
  packages/sdk/tests/chains/solana/rpc-client.test.ts
  pnpm-lock.yaml
Due: sdk

docs: update grant status - Superteam Indonesia approved ($10K)
  CLAUDE.md
Due: none

docs: update grant status - Superteam KYC complete, T1 expected Jan 30
  CLAUDE.md
Due: none

docs: add sip-mobile to ecosystem repository index
  CLAUDE.md
Due: none

docs: sync ROADMAP.md with strategy - M16 complete, M17 active
  ROADMAP.md
Due: none

fix(anchor): resolve platform-tools compatibility issues
  programs/sip-privacy/Anchor.toml
  programs/sip-privacy/Cargo.lock
  programs/sip-privacy/Cargo.toml
  programs/sip-privacy/programs/sip-privacy/Cargo.toml
  programs/sip-privacy/programs/sip-privacy/src/lib.rs
  programs/sip-privacy/rust-toolchain.toml
Due: none

fix(anchor): update program ID to match encrypted vanity keypair
  CLAUDE.md
  programs/sip-privacy/AUDIT.md
  programs/sip-privacy/Anchor.toml
  programs/sip-privacy/README.md
  programs/sip-privacy/programs/sip-privacy/src/lib.rs
Due: none

docs: add devnet deployment record (S1PMFspo...)
  CLAUDE.md
Due: none

feat(anchor): initialize devnet config (50 bps fee)
  CLAUDE.md
  programs/sip-privacy/scripts/initialize.ts
Due: none

feat(sdk): add shieldedTransfer API for Solana Anchor program (#781)
  packages/sdk/src/chains/solana/anchor-transfer.ts
  packages/sdk/src/chains/solana/index.ts
  packages/sdk/tests/chains/solana/anchor-transfer.test.ts
Due: sdk

docs(sip-privacy): add audit preparation documentation
  programs/sip-privacy/docs/AUDIT-SCOPE.md
  programs/sip-privacy/docs/SECURITY.md
  programs/sip-privacy/docs/THREAT-MODEL.md
Due: none

docs(solana): add comprehensive developer documentation
  docs/solana/README.md
  docs/solana/api-reference.md
  docs/solana/architecture.md
  docs/solana/examples/basic-transfer.md
  docs/solana/examples/compliance.md
  docs/solana/examples/private-swap.md
  docs/solana/integration-guide.md
  docs/solana/quickstart.md
  docs/solana/security.md
Due: none

feat(sdk): add Sunspot ZK verifier pipeline for Noir → Solana
  packages/sdk/src/chains/solana/index.ts
  packages/sdk/src/chains/solana/sunspot-verifier.ts
  packages/sdk/tests/chains/solana/sunspot-verifier.test.ts
  programs/sip-privacy/sunspot/.gitignore
  programs/sip-privacy/sunspot/README.md
  programs/sip-privacy/sunspot/scripts/compile.sh
  programs/sip-privacy/sunspot/scripts/deploy.sh
  programs/sip-privacy/sunspot/scripts/prove.sh
  programs/sip-privacy/sunspot/scripts/setup.sh
Due: sdk

feat(sdk): add network privacy layer (Tor/SOCKS5) for Solana RPC
  docs/solana/security.md
  packages/sdk/src/chains/solana/index.ts
  packages/sdk/src/chains/solana/rpc-client.ts
  packages/sdk/tests/chains/solana/rpc-network-privacy.test.ts
Due: sdk

feat(sdk): add Winternitz vault integration for quantum-resistant storage
  packages/sdk/src/quantum/index.ts
  packages/sdk/src/quantum/winternitz-vault.ts
  packages/sdk/src/quantum/wots.ts
  packages/sdk/tests/quantum/wots.test.ts
Due: sdk

docs: sync ROADMAP.md and CLAUDE.md with M17 completion
  CLAUDE.md
  ROADMAP.md
Due: none

docs: sync README and ROADMAP with M17 completion
  README.md
  ROADMAP.md
Due: none

docs: update sip-mobile section for native wallet pivot
  CLAUDE.md
Due: none

fix(program): use System Program CPI for claim transfers
  .gitignore
  programs/sip-privacy/programs/sip-privacy/src/lib.rs
  secrets/README.md
Due: none

fix(program): fully drain stealth account on claim + remove amount from logs
  programs/sip-privacy/programs/sip-privacy/src/lib.rs
Due: none

fix(program): minimize all logs for maximum privacy
  programs/sip-privacy/programs/sip-privacy/src/lib.rs
Due: none

docs: add Full Privacy Architecture to roadmap (M19-M20)
  ROADMAP.md
Due: none

docs: add protocol neutrality principle + clarify compliance as user-side
  ROADMAP.md
  packages/sdk/src/proofs/compliance-proof.ts
Due: sdk

docs: update privacy provider architecture (6 providers)
  ROADMAP.md
  secrets/README.md
Due: none

docs(bounty): update Noir submission with accurate stats
  docs/bounties/aztec-noir-submission.md
Due: none

docs: add sip-arcium-program to ecosystem hub
  CLAUDE.md
Due: none

docs(bounty): mark demo video as complete
  docs/bounties/submission-checklist.md
Due: none

docs(bounty): add Arcium End-to-End Private DeFi submission
  docs/bounties/arcium-private-defi.md
Due: none

docs(bounty): update Noir submission with accurate stats
  docs/bounties/arcium-private-defi.md
Due: none

docs(bounty): add MXE encryption details to Arcium submission
  docs/bounties/arcium-private-defi.md
Due: none

docs(bounty): add Arcium track to submission checklist
  docs/bounties/submission-checklist.md
Due: none

feat(sdk): export CSPLTokenService and CSPLClient from main entry
  packages/sdk/src/index.ts
Due: sdk

feat(program): deploy SIP Privacy to mainnet-beta
  CLAUDE.md
  programs/sip-privacy/scripts/initialize-mainnet.ts
Due: none

chore: bump sdk to 0.7.4 and types to 0.2.2
  packages/sdk/package.json
  packages/types/package.json
Due: none

feat(api): add webhook endpoints for push-based payment notifications
  packages/api/src/config.ts
  packages/api/src/middleware/auth.ts
  packages/api/src/routes/index.ts
  packages/api/src/routes/webhook.ts
  packages/api/src/server.ts
  packages/api/src/services/helius-listener.ts
  packages/api/src/services/index.ts
  packages/api/src/services/webhook-delivery.ts
  packages/api/src/stores/index.ts
  packages/api/src/stores/webhook-store.ts
  packages/api/src/types/api.ts
  packages/api/tests/webhook.test.ts
Due: api

docs: update API test count to 198 and add sipher to repo index
  CLAUDE.md
Due: none

chore(sdk): bump ephemeral-rollups-sdk to 0.8.5
  packages/sdk/package.json
  pnpm-lock.yaml
Due: none
